<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:ui="http://java.sun.com/jsf/facelets"
	xmlns:f="http://java.sun.com/jsf/core"
	xmlns:h="http://java.sun.com/jsf/html"
	xmlns:p="http://primefaces.org/ui">

<h:head>
	<title>Productos</title>
</h:head>
<body>
	<p:growl>
		<p:autoUpdate></p:autoUpdate>
	</p:growl>
	<h:form>


		<p:menubar>

			<p:menuitem value="Regresar" icon="pi pi-home"
				action="/menu?faces-redirect=true" />


			<f:facet name="options">
				<p:menuButton value="#{beanSegLogin.loginDTO.correo}"
					icon="pi pi-user">
					<p:menuitem value="Perfil"></p:menuitem>
					<p:menuitem value="Cerrar sesión" icon="pi pi-sign-out"
						action="#{beanSegLogin.actionCerrarSesion()}"></p:menuitem>
				</p:menuButton>
			</f:facet>
		</p:menubar>
	</h:form>

	<div align="center" style="position: absolute">
		<h:form id="formCabecera">
			<p:panel style="width:100%">
				<p:staticMessage severity="info" summary="MODULO PRODUCTOS"
					style="width: 100%" />
			</p:panel>

		</h:form>




		<h:form id="formPadre">
			<p:panel footer="EasyTech 2022 - Todos los derechos reservados">
				<p:panelGrid columns="2">

					<p:commandButton value="Agregar Producto"
						styleClass="ui-button-raised ui-button-secondary"
						icon="pi pi-list" onclick="PF('dlgIngresarCategoria').show();" />
					<p:commandButton value="Generar Reporte"
						styleClass="ui-button-raised ui-button-secondary"
						icon="pi pi-list" ajax="false"
						action="#{beanProductos.actionReporteProductos()}" />

				</p:panelGrid>

				<p:panelGrid columns="2">

					<p:fieldset legend="Productos" style="margin-bottom:20px">
						<p:dataTable value="#{beanProductos.listaProductos}" var="p"
							showGridlines="true"
							currentPageReportTemplate="{startRecord}-{endRecord} of {totalRecords} records"
							paginatorTemplate="{CurrentPageReport} {FirstPageLink} {PreviousPageLink} {PageLinks} {NextPageLink} {LastPageLink} {RowsPerPageDropdown}"
							rows="5" paginator="true">


							<p:column headerText="Descripción">
								<h:outputText value="#{p.descripcion}" />
							</p:column>

							<p:column headerText="Categoria">
								<h:outputText value="#{p.tblCategoria.categoria}" />
							</p:column>

							<p:column headerText="Precio Compra">
								<h:outputText value="#{p.precioCompra}" />
							</p:column>
							<p:column headerText="Precio Venta 1">
								<h:outputText value="#{p.precioVenta1}" />

							</p:column>
							<p:column headerText="Precio Venta 2">
								<h:outputText value="#{p.precioVenta2}" />

							</p:column>
							<p:column headerText="Precio Venta 3">
								<h:outputText value="#{p.precioVenta3}" />

							</p:column>
							<p:column headerText="Stock">
								<h:outputText value="#{p.stock}" />
							</p:column>

							<p:column headerText="OPCIONES">
								<p:commandButton icon="pi pi-pencil" title="editar"
									update=":form_dlg_modificarProducto"
									actionListener="#{beanProductos.actionListenerEditarProducto(p)}"
									oncomplete="PF('dlgModificarCategoria').show()"
									style="margin-right:5%" />

							</p:column>

						</p:dataTable>
					</p:fieldset>

				</p:panelGrid>

			</p:panel>


		</h:form>
	</div>












	<h:form id="form_dlg_ingresarProducto" enctype="multipart/form-data">


		<!-- modal para la insercion de categorias -->
		<p:dialog header="Ingresar Producto" id="dlgIngresarCategoria"
			widgetVar="dlgIngresarCategoria" modal="true" showEffect="fade"
			fitViewport="true">
			<p:panelGrid columns="2">


				<h:outputText value="Categoria" />
				<h:panelGrid columns="2">

					<p:selectOneRadio id="idCategoriaPrincipal"
						value="#{beanProductos.idCategoriaPrincipal}" layout="responsive"
						columns="1">
						<p:ajax
							update="SubCategorias, SubCategorias, Sub_categorias, panelDescripcionProductos"
							listener="#{beanProductos.actionEjecutarCategorias()}"></p:ajax>
						<f:selectItems value="#{beanProductos.listaCategorias}" var="c"
							itemLabel="#{c.categoria}" itemValue="#{c.idCategoria}" />
					</p:selectOneRadio>
					<h:panelGrid columns="1">
						<p:selectOneMenu id="SubCategorias"
							value="#{beanProductos.idSubCategoria}">
							<f:selectItem itemLabel="Seleccione uno" itemValue="" />
							<p:ajax
								update="panelDescripcionProductos, Sub_categorias, panelDescripcionProductos"
								listener="#{beanProductos.actionEjecutarSubcategorias()}"></p:ajax>
							<f:selectItems value="#{beanProductos.listaSubCategorias}"
								var="x" itemValue="#{x.idCategoria}" itemLabel="#{x.categoria}" />
						</p:selectOneMenu>

						<p:selectOneMenu id="Sub_categorias"
							style="#{beanProductos.modEstadoVistaComboBoxCategoriaProductos}"
							value="#{beanProductos.idSub_Categoria}">
							<f:selectItem itemLabel="Seleccione uno" itemValue="" />
							<p:ajax update="panelDescripcionProductos"></p:ajax>
							<f:selectItems value="#{beanProductos.listaSub_Categorias}"
								var="xd" itemValue="#{xd.idCategoria}"
								itemLabel="#{xd.categoria}" />
						</p:selectOneMenu>
					</h:panelGrid>



				</h:panelGrid>

				<h:outputText value="Descripción" />
				<h:panelGrid columns="3" id="panelDescripcionProductos">
					<h:panelGrid columns="2">
						<h:outputText value="#{beanProductos.modEstadoTituloCategoria}" />
						<p:inputText
							value="#{beanProductos.dtoProductos.descripcion_nombre}"></p:inputText>
						<h:outputText style="#{beanProductos.modEstadoVista}"
							value="Marca: " />
						<p:inputText value="#{beanProductos.dtoProductos.marca}"
							style="#{beanProductos.modEstadoVista}" />
						<h:outputText style="#{beanProductos.modEstadoVista}"
							value="Modelo: " />
						<p:inputText value="#{beanProductos.dtoProductos.modelo}"
							style="#{beanProductos.modEstadoVista}" />
						<h:outputText style="#{beanProductos.modEstadoVista}"
							value="Serie: " />
						<p:inputText value="#{beanProductos.dtoProductos.serie}"
							style="#{beanProductos.modEstadoVista}" />
					</h:panelGrid>

				</h:panelGrid>
				<h:outputText value="Imagen" />
				<h:panelGrid columns="2">
					<p:growl showDetail="true" />
					<p:fileUpload mode="simple" value="#{beanProductos.imagen}" />
				</h:panelGrid>

			</p:panelGrid>

			<p:commandButton value="Agregar" styleClass="ui-button-raised "
				update=":form_dlg_ingresarProducto, formPadre"
				actionListener="#{beanProductos.actionListenerRegistrarProducto()}"
				icon="pi pi-plus">
			</p:commandButton>
		</p:dialog>
	</h:form>



















	<h:form id="form_dlg_modificarProducto" enctype="multipart/form-data">


		<!-- modal para la insercion de categorias -->
		<p:dialog header="Editar Producto" id="dlgModificarCategoria"
			widgetVar="dlgModificarCategoria" modal="true" showEffect="fade"
			fitViewport="true">
			<p:panelGrid columns="#{beanProductos.numColumnasEdicion}">


				<h:outputText value="Categoria" />
				<h:panelGrid columns="2">

					<p:selectOneRadio id="idCategoriaPrincipal"
						value="#{beanProductos.idCategoriaPrincipal}" layout="responsive"
						columns="1">
						<p:ajax
							update="SubCategorias, SubCategorias, Sub_categorias, panelDescripcionProductos"
							listener="#{beanProductos.actionEjecutarCategorias()}"></p:ajax>
						<f:selectItems value="#{beanProductos.listaCategorias}" var="c"
							itemLabel="#{c.categoria}" itemValue="#{c.idCategoria}" />
					</p:selectOneRadio>
					<h:panelGrid columns="1">
						<p:selectOneMenu id="SubCategorias"
							value="#{beanProductos.idSubCategoria}">
							<f:selectItem itemLabel="Seleccione uno" itemValue="" />
							<p:ajax
								update="panelDescripcionProductos, Sub_categorias, panelDescripcionProductos"
								listener="#{beanProductos.actionEjecutarSubcategorias()}"></p:ajax>
							<f:selectItems value="#{beanProductos.listaSubCategorias}"
								var="x" itemValue="#{x.idCategoria}" itemLabel="#{x.categoria}" />
						</p:selectOneMenu>

						<p:selectOneMenu id="Sub_categorias"
							style="#{beanProductos.modEstadoVistaComboBoxCategoriaProductos}"
							value="#{beanProductos.idSub_CategoriaE}">
							<f:selectItem itemLabel="Seleccione uno" itemValue="" />
							<p:ajax update="panelDescripcionProductos"></p:ajax>
							<f:selectItems value="#{beanProductos.listaSub_Categorias}"
								var="xd" itemValue="#{xd.idCategoria}"
								itemLabel="#{xd.categoria}" />
						</p:selectOneMenu>
					</h:panelGrid>



				</h:panelGrid>

				<h:outputText value="Descripción" />
				<h:panelGrid columns="3" id="panelDescripcionProductos">
					<h:panelGrid columns="2">
						<h:outputText value="#{beanProductos.modEstadoTituloCategoria}" />
						<p:inputText
							value="#{beanProductos.dtoProductos.descripcion_nombre}"></p:inputText>
						<h:outputText style="#{beanProductos.modEstadoVista}"
							value="Marca: " />
						<p:inputText value="#{beanProductos.dtoProductos.marca}"
							style="#{beanProductos.modEstadoVista}" />
						<h:outputText style="#{beanProductos.modEstadoVista}"
							value="Modelo: " />
						<p:inputText value="#{beanProductos.dtoProductos.modelo}"
							style="#{beanProductos.modEstadoVista}" />
						<h:outputText style="#{beanProductos.modEstadoVista}"
							value="Serie: " />
						<p:inputText value="#{beanProductos.dtoProductos.serie}"
							style="#{beanProductos.modEstadoVista}" />
					</h:panelGrid>

				</h:panelGrid>
				<h:outputText value="Imagen" />

				<h:panelGrid columns="2">

					<p:fileUpload mode="simple" value="#{beanProductos.imagen}"
						required="true" requiredMessage="Seleccione Imagen" />
				</h:panelGrid>
				<h:outputText value="Stock"
					style="#{beanProductos.vistaEdicionprecio}" />
				<h:outputText value="#{beanProductos.tblEdicionProducto.stock}"
					style="#{beanProductos.vistaEdicionprecio}" />
				<h:outputText value="Precios"
					style="#{beanProductos.vistaEdicionprecio}" />
				<h:panelGrid columns="4" style="#{beanProductos.vistaEdicionprecio}">
					<h:outputText value="Precio de compra: " style="font-weight:bold;" />
					<h:outputText value="#{beanProductos.precioProducto}" />
					<h:outputText value="" />
					<h:outputText value="Margen de ganancia" />

					<h:outputText id="porcentaje1"
						value="Precio 1 al #{beanProductos.porcentaje1} %"
						style="font-weight:bold;" />
					<h:outputText id="precio1" value="#{beanProductos.precio1}" />
					<p:inputNumber id="input1" value="#{beanProductos.porcentaje1}"
						symbol="%" symbolPosition="p" emptyValue="always"
						decimalSeparator="." thousandSeparator=""
						onkeypress="if (event.keyCode == 13) {return false;}">
						<p:ajax event="keyup"
							listener="#{beanProductos.actionListenerCalcularPrecios}"
							update="precio1,porcentaje1,ganancia1"></p:ajax>
					</p:inputNumber>
					<h:outputText id="ganancia1" value="#{beanProductos.ganancia1}" />

					<h:outputText id="porcentaje2"
						value="Precio 2 al #{beanProductos.porcentaje3} %"
						style="font-weight:bold;" />
					<h:outputText id="precio2" value="#{beanProductos.precio2}" />
					<p:inputNumber id="input2" value="#{beanProductos.porcentaje2}"
						symbol="%" symbolPosition="p" emptyValue="always"
						decimalSeparator="." thousandSeparator=""
						onkeypress="if (event.keyCode == 13) {return false;}">
						<p:ajax event="keyup"
							listener="#{beanProductos.actionListenerCalcularPrecios}"
							update="precio2,porcentaje2,ganancia2"></p:ajax>
					</p:inputNumber>
					<h:outputText id="ganancia2" value="#{beanProductos.ganancia2}" />

					<h:outputText id="porcentaje3"
						value="Precio 3 al #{beanProductos.porcentaje3} %"
						style="font-weight:bold;" />
					<h:outputText id="precio3" value="#{beanProductos.precio3}" />
					<p:inputNumber id="input3" value="#{beanProductos.porcentaje3}"
						symbol="%" symbolPosition="p" emptyValue="always"
						decimalSeparator="." thousandSeparator=""
						onkeypress="if (event.keyCode == 13) {return false;}">
						<p:ajax event="keyup"
							listener="#{beanProductos.actionListenerCalcularPrecios}"
							update="precio3,porcentaje3,ganancia3"></p:ajax>
					</p:inputNumber>
					<h:outputText id="ganancia3" value="#{beanProductos.ganancia3}" />

				</h:panelGrid>

			</p:panelGrid>

			<p:commandButton value="Modificar" styleClass="ui-button-raised "
				update=":form_dlg_modificarProducto formPadre"
				actionListener="#{beanProductos.actionListenerEjecutarEditarProducto()}"
				icon="pi pi-plus">
			</p:commandButton>
		</p:dialog>
	</h:form>



</body>
</html>