<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:ui="http://java.sun.com/jsf/facelets"
	xmlns:f="http://java.sun.com/jsf/core"
	xmlns:h="http://java.sun.com/jsf/html"
	xmlns:p="http://primefaces.org/ui">

<h:head>
	<title>Cobranzas</title>
</h:head>
<body>
	<p:growl>
		<p:autoUpdate></p:autoUpdate>
	</p:growl>
	<h:form>


		<p:menubar>

			<p:menuitem value="Regresar" icon="pi pi-home"
				action="/menu?faces-redirect=true" />


			<f:facet name="options">
				<p:menuButton value="#{beanSegLogin.loginDTO.correo}"
					icon="pi pi-user">
					<p:menuitem value="Perfil"></p:menuitem>
					<p:menuitem value="Cerrar sesión" icon="pi pi-sign-out"
						action="#{beanSegLogin.actionCerrarSesion()}"></p:menuitem>
				</p:menuButton>
			</f:facet>
		</p:menubar>
	</h:form>

	<div align="center">
		<h:form>
			<p:panel style="width:50%">
				<p:staticMessage severity="info" summary="Cobranzas"
					style="width: 100%" />

			</p:panel>
		</h:form>
	</div>



	<h:form id="lista2">


		<p:fieldset legend="CLIENTES ACUERDOS COBRANZAS">


			<div align="left">
				<p:panelGrid columns="1" cellpadding="10">

					<h:panelGrid columns="3">
						<h:panelGrid columns="2">
							<p:outputLabel value="CÉDULA: " />
							<p:selectOneMenu id="MenuCliente"
								value="#{beanCobranzas.idCliente}" effect="fade" filter="true"
								filterMatchMode="contains">
								<f:selectItem itemLabel="Seleccione..." itemValue="" />
								<p:ajax update=":lista2"
									listener="#{beanCobranzas.actionObtenerDatosCliente()}"></p:ajax>
								<f:selectItems value="#{beanCobranzas.listaClientes}" var="u"
									itemLabel="#{u.tblPersona.ciRuc}" itemValue="#{u.idCliente}">

								</f:selectItems>



							</p:selectOneMenu>
						</h:panelGrid>
						<p:panelGrid columns="2">
							<p:outputLabel value="Nombres: "></p:outputLabel>
							<p:outputLabel value="#{beanCobranzas.dtoPersonas.nombres}"></p:outputLabel>

						</p:panelGrid>
						<p:panelGrid columns="2">
							<p:outputLabel value="Apellidos: "></p:outputLabel>
							<p:outputLabel value="#{beanCobranzas.dtoPersonas.apellidos}"></p:outputLabel>
						</p:panelGrid>
					</h:panelGrid>






					<p:dataTable value="#{beanCobranzas.listaAcuerdoClientes}" var="p"
						showGridlines="true" id="tablaCuotas"
						currentPageReportTemplate="{startRecord}-{endRecord} of {totalRecords} records"
						paginatorTemplate="{CurrentPageReport} {FirstPageLink} {PreviousPageLink} {PageLinks} {NextPageLink} {LastPageLink} {RowsPerPageDropdown}"
						rows="5" paginator="true">

						<p:column headerText="Fecha">
							<h:outputText value="#{p.fechaPrimerPago}" />
						</p:column>
						<p:column headerText="Periodo">
							<h:outputText value="#{p.periodo}" />
						</p:column>
						<p:column headerText="Monto">
							<h:outputText value="#{p.monto}" />
						</p:column>
						<p:column headerText="Total">
							<h:outputText value="#{p.total}" />
						</p:column>



						<p:column headerText="OPCIONES">
							<p:commandButton value="Reporte" icon="pi pi-book" ajax="false"
								action="#{beanCobranzas.actionReporteAcuerdos(p)}" />
							<p:commandButton value="Seleccionar" title="editar"
								update=":form_dlg_Abonos_Cuotas, formDatosAcuerdo"
								actionListener="#{beanCobranzas.actionObtenerDatosContrato(p)}" />
						</p:column>

					</p:dataTable>





				</p:panelGrid>
				<br />


			</div>

		</p:fieldset>
	</h:form>
	<p:panelGrid columns="2">
		<h:form id="formDatosAcuerdo">



			<div>
				<h:panelGrid columns="6" cellpadding="10">
					<div class="ui-fluid formgrid grid"></div>



					<p:dataTable value="#{beanCobranzas.listaCuotas}" var="p"
						showGridlines="true" id="tablaCuotas"
						currentPageReportTemplate="{startRecord}-{endRecord} of {totalRecords} records"
						paginatorTemplate="{CurrentPageReport} {FirstPageLink} {PreviousPageLink} {PageLinks} {NextPageLink} {LastPageLink} {RowsPerPageDropdown}"
						rows="5" paginator="true">


						<p:column headerText="Cuota">
							<h:outputText value="#{p.cuota}" />
						</p:column>

						<p:column headerText="Dias Vencidos">
							<h:outputText value="#{p.diasVencidos}" />
						</p:column>

						<p:column headerText="Dias por Vencer">
							<h:outputText value="#{p.diasXVencer}" />
						</p:column>
						<p:column headerText="Fecha Pagó">
							<h:outputText value="#{p.fechaPago}" />
						</p:column>
						<p:column headerText="Estado">
							<h:outputText value="#{p.estado}" />
						</p:column>



						<p:column headerText="OPCIONES">
							<p:commandButton value="PAGAR" title="editar"
								oncomplete="PF('dlgPagosCuota').show()"
								update=":form_dlg_Pagos_Cuotas, formDatosAcuerdo"
								actionListener="#{beanCobranzas.actionListenerSleccionarCuota(p)}" />
							<p:commandButton value="ABONOS" title="editar"
								oncomplete="PF('dlgAbonosCuota').show()"
								update=":form_dlg_Abonos_Cuotas, formDatosAcuerdo"
								actionListener="#{beanCobranzas.actionListenerSleccionarCuota(p)}" />
							<p:commandButton value="Reporte" icon="pi pi-book" ajax="false"
								action="#{beanCobranzas.actionReporteAbonos(p.tblAcuerdo)}" />
						</p:column>

					</p:dataTable>
				</h:panelGrid>
			</div>


		</h:form>


	</p:panelGrid>




	<!-- VENTANA EMERGEN DE PAGOS -->
	<h:form id="form_dlg_Pagos_Cuotas">
		<!-- modal edicion de categoria -->
		<p:dialog header="PAGOS" id="dlg2" widgetVar="dlgPagosCuota"
			modal="true" showEffect="fade">
			<p:panelGrid columns="2">
				<h:outputText value="Cliente" />
				<h:panelGrid columns="2">
					<h:outputText id="s" required="true"
						value="#{beanCobranzas.tblCuotaSeleccionado.tblAcuerdo.tblCliente.tblPersona.nombres}" />
					<h:outputText id="ciEdit" required="true"
						value="#{beanCobranzas.tblCuotaSeleccionado.tblAcuerdo.tblCliente.tblPersona.apellidos}" />
				</h:panelGrid>
				<h:outputText value="Valor Cuota" />
				<h:outputText value="#{beanCobranzas.tblCuotaSeleccionado.cuota}" />
				<h:outputText value="Fecha" />
				<h:outputText
					value="#{beanCobranzas.tblCuotaSeleccionado.fechaPago}" />
			</p:panelGrid>
			<br />
			<p:commandButton value="PAGAR" styleClass="ui-button-raised "
				actionListener="#{beanCobranzas.actionRealizarPago()}"
				update="form_dlg_Pagos_Cuotas" icon="pi pi-list">
			</p:commandButton>
			<p:growl id="message" showDetail="true" />
		</p:dialog>
	</h:form>

	<!-- VENTANA EMERGEN DE PAGOS -->
	<h:form id="form_dlg_Abonos_Cuotas">
		<!-- modal edicion de categoria -->
		<p:dialog header="ABONOS" id="dlg2" widgetVar="dlgAbonosCuota"
			modal="true" showEffect="fade">
			<p:panelGrid columns="2">
				<h:outputText value="Cliente" />
				<h:panelGrid columns="2">
					<h:outputText id="s" required="true"
						value="#{beanCobranzas.tblCuotaSeleccionado.tblAcuerdo.tblCliente.tblPersona.nombres}" />
					<h:outputText id="ciEdit" required="true"
						value="#{beanCobranzas.tblCuotaSeleccionado.tblAcuerdo.tblCliente.tblPersona.apellidos}" />
				</h:panelGrid>
				<h:outputText value="Valor Cuota" />
				<h:outputText value="#{beanCobranzas.tblCuotaSeleccionado.cuota}" />
				<h:outputText value="Fecha" />

				<h:outputText
					value="#{beanCobranzas.tblCuotaSeleccionado.fechaPago}" />
				<h:outputText value="VALOR ABONO: " />
				<p:inputText value="#{beanCobranzas.abono}" required="true"
					requiredMessage="Ingrese el monto" placeholder="Monto">
					<p:keyFilter mask="num"></p:keyFilter>
				</p:inputText>
			</p:panelGrid>
			<br />
			<p:commandButton value="ABONAR" styleClass="ui-button-raised "
				actionListener="#{beanCobranzas.actionListenerAbonar()}"
				update="form_dlg_Abonos_Cuotas" icon="pi pi-list">
			</p:commandButton>
			<p:growl id="message" showDetail="true" />
		</p:dialog>
	</h:form>


</body>
</html>