<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:ui="http://java.sun.com/jsf/facelets"
	xmlns:f="http://java.sun.com/jsf/core"
	xmlns:h="http://java.sun.com/jsf/html"
	xmlns:p="http://primefaces.org/ui">

<h:head>
	<title>Login</title>
	<link rel="stylesheet" type="text/css" href="resources/css/style.css" />
</h:head>
<body>
	 <section class="material-half-bg">
      <div class="cover"></div>
    </section>
    <section class="login-content">
    <div class="logo">
        <img src="resources/images/logo.png" width="350" height="auto" alt=""/>
    
      </div>
      
      <div class="login-box">
        
        <form class="login-form" name="formLogin" id="formLogin" action="">
          <h3 class="login-head"><i class="fa fa-lg fa-fw fa-user"></i>INICIAR SESIÓN</h3>
           <div class="tabs" align="center">
         		  	<span><i class="pi pi-facebook"></i></span> <span><i
								class="pi pi-google"></i></span> <span><i class="pi pi-twitter"></i></span>
								</div>
          <div class="form-group">
            <label class="control-label">USUARIO</label>
          <p:inputText class="form-control" id="user_login" placeholder="Ingrese su Usuario" value="#{beanSegLogin.idSegUsuario}" />
          </div>
          <div class="form-group">
            <label class="control-label">CONTRASEÑA</label>
           <p:password class="form-control" id="user_pass" placeholder="Ingrese su Contraseña" value="#{beanSegLogin.clave}" />
          </div>
          
          <div id="alertLogin" class="text-center"></div>
          <div class="form-group btn-container">
           <p:commandButton value="INICIAR SESIÓN"
									action="#{beanSegLogin.actionLogin()}" icon="pi pi-key"
									styleClass="btn btn-primary btn-block"  style="background-color: #01445e;"></p:commandButton>
          </div>
          <br />
          <h:form>
          	<div class="form-group btn-container">
          
								<h:outputText value="Inicializar datos: " />
								<p:commandButton value="Inicializar" 
									actionListener="#{beanSegLogin.actionListenerInicialiarDemo()}"
									icon="pi pi-cog" style="background-color: #01445e;">
									<p:confirm type="popup" header="Confirmation"
										message="Desea inicializar datos?"
										icon="pi pi-exclamation-triangle" />
								</p:commandButton>
								</div>
							</h:form>
        </form>
        
       
      </div>
      <p:confirmPopup global="true">
		<p:commandButton value="No" type="button"
			styleClass="ui-confirm-popup-no ui-button-flat" />
		<p:commandButton value="Sí" type="button"
			styleClass="ui-confirm-popup-yes" />
	</p:confirmPopup>
    </section>
    
</body>
</html>
