<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:ui="http://java.sun.com/jsf/facelets"
	xmlns:f="http://java.sun.com/jsf/core"
	xmlns:h="http://java.sun.com/jsf/html"
	xmlns:p="http://primefaces.org/ui">
<f:metadata>
	<f:event listener="#{beanSegLogin.actionVerificarLogin()}"
		type="preRenderView"></f:event>
</f:metadata>
<h:head>
</h:head>
<body>
	<p:growl>
		<p:autoUpdate />
	</p:growl>
	<h:form>
		<p:menubar>
			<p:menuitem value="Regresar" icon="pi pi-home"
				action="/menu?faces-redirect=true" />
			<p:menuitem value="Nuevo Cliente" icon="pi pi-user-plus"
				onclick="PF('dlg2').show();" />

			<p:menuitem value="Reporte de clientes" icon="pi pi-user-plus"
				ajax="false" action="#{beanCliente.actionReporteClientes()}" />
			<f:facet name="options">
				<p:menuButton value="#{beanSegLogin.loginDTO.correo}"
					icon="pi pi-user">
					<p:menuitem value="Perfil" icon="pi pi-cog"></p:menuitem>
					<p:menuitem value="Cerrar sesión" icon="pi pi-sign-out"
						action="#{beanSegLogin.actionCerrarSesion()}"></p:menuitem>
				</p:menuButton>
			</f:facet>
		</p:menubar>
		<p:staticMessage severity="info" summary="Módulo Cliente"></p:staticMessage>
	</h:form>
	<div align="center">
		<h:form id="lista2">
			<p:dataTable value="#{beanCliente.listaClienteAll}" var="u"
				paginator="true" rows="5"
				emptyMessage="Aún no hay registro de Cliente">
				<p:column headerText="Id"
					style="width:30px; font-size:20px; text-align: center">
					<h:outputText value="#{u.idCliente}" />
				</p:column>

				<p:column headerText="Cédula" sortBy="#{u.tblPersona.ciRuc}"
					filterBy="#{u.tblPersona.ciRuc}" filterMatchMode="contains"
					style="width:30px; font-size:20px; text-align: center">
					<h:outputText value="#{u.tblPersona.ciRuc}" />
				</p:column>
				<p:column headerText="Nombre"
					style="width:30px; font-size:20px; text-align: center">
					<h:outputText value="#{u.tblPersona.nombres}" />
				</p:column>
				<p:column headerText="Apellido"
					style="width:30px; font-size:20px; text-align: center">
					<h:outputText value="#{u.tblPersona.apellidos}" />
				</p:column>
				<p:column headerText="correo"
					style="width:30px; font-size:20px; text-align: center">
					<h:outputText value="#{u.tblPersona.email}" />
				</p:column>
				<p:column headerText="Telefono"
					style="width:30px; font-size:20px; text-align: center">
					<h:outputText value="#{u.tblPersona.telefono}" />
				</p:column>
				<p:column headerText="Direccion"
					style="width:30px; font-size:20px; text-align: center">
					<h:outputText value="#{u.tblPersona.direccion}" />
				</p:column>
				<p:column headerText="Direccion"
					style="width:30px; font-size:20px; text-align: center">
					<h:outputText value="#{u.estado}" />
				</p:column>
				<p:column headerText="Opciones"
					style="width:30px; font-size:20px; text-align: center">
					<p:commandButton id="cmdEdicion" icon="pi pi-pencil" title="editar"
						styleClass="rounded-button ui-button-warning"
						action="#{beanCliente.actionSeleccionarEdicionCliente(u)}"
						update="@form" />
					<p:overlayPanel for="cmdEdicion" dynamic="true"
						showCloseIcon="true" style="width:70%">
						<p:panel header="Editar cliente">
							<p:panelGrid columns="2">
								<h:outputText value="Nombre:" />
								<p:inputText
									value="#{beanCliente.edicionCliente.tblPersona.nombres}"
									required="true" requiredMessage="Ingrese un Nombre" />
								<h:outputText value="Apellido:" />
								<p:inputText
									value="#{beanCliente.edicionCliente.tblPersona.apellidos}"
									required="true" requiredMessage="Ingrese un Apellido" />
								<h:outputText value="Correo:" />
								<p:inputText
									value="#{beanCliente.edicionCliente.tblPersona.email}"
									required="true" requiredMessage="Ingrese el correo" />
								<h:outputText value="Telefono:" />
								<p:inputText
									value="#{beanCliente.edicionCliente.tblPersona.telefono}"
									required="true" requiredMessage="Ingrese el telefono" />
								<h:outputText value="Dirección:" />
								<p:inputText
									value="#{beanCliente.edicionCliente.tblPersona.direccion}"
									required="true" requiredMessage="Ingrese el dirección" />
								<p:commandButton value="Actualizar" icon="pi pi-save"
									update="@form,:lista2"
									actionListener="#{beanCliente.actualizarRegistroCliente()}"></p:commandButton>
							</p:panelGrid>
						</p:panel>
					</p:overlayPanel>
					<p:commandButton icon="pi pi-times-circle" title="eliminar"
						ajax="false" styleClass="rounded-button ui-button-success"
						update="@form"
						actionListener="#{beanCliente.eliminarRegistroClientelogico(u)}" />
					<p:commandButton icon="pi pi-check-circle" title="Activar"
						ajax="false" styleClass="rounded-button ui-button-success"
						update="@form"
						actionListener="#{beanCliente.updateClientelogico(u)}" />
				</p:column>


			</p:dataTable>
		</h:form>
	</div>


	<p:dialog header="CLIENTES" widgetVar="dlg2" modal="true"
		style="width:250px">
		<h:form id="formNuevoCliente">
			<p:panelGrid columns="2">
				<h:outputText value="Cédula" />
				<p:inputText value="#{beanCliente.personaNuevo.ciRuc}" size="25"
					maxlength="60" placeholder="Cédula"
					validatorMessage="Cédula Incorrecta">
					<p:keyFilter mask="num" />
					<f:validateRegex
						pattern="^(([0][1-9])|([1][0-9])|([2][0-4]))([0-9]{8})" />
				</p:inputText>
				<h:outputText value="Nombres: " />
				<p:inputText value="#{beanCliente.personaNuevo.nombres}"
					placeholder="Nombres" size="25" maxlength="60"
					validatorMessage="Nombres Incorrectos">
					<f:validateRegex
						pattern="^(([A-Z]|[Á-Ú])([a-z]|[á-ú])+)\s(([A-Z]|[Á-Ú])([a-z]|[á-ú])+)"
						message="Your new custom message here" />
				</p:inputText>
				<h:outputText value="Apellidos: " />
				<p:inputText value="#{beanCliente.personaNuevo.apellidos}"
					placeholder="Apellidos" size="25" maxlength="60"
					validatorMessage="Apellidos Incorrectos">
					<f:validateRegex
						pattern="^(([A-Z]|[Á-Ú])([a-z]|[á-ú])+)\s(([A-Z]|[Á-Ú])([a-z]|[á-ú])+)"
						message="Your new custom message here" />
				</p:inputText>
				<h:outputText value="Correo: " />
				<p:inputText value="#{beanCliente.personaNuevo.email}" size="25"
					maxlength="60" placeholder="Correo"
					validatorMessage="Correo Incorrecto">
					<f:validateRegex pattern="([^.@]+)(\.[^.@]+)*@([^.@]+\.)+([^.@]+)" />
				</p:inputText>
				<h:outputText value="Telefono" />
				<p:inputText value="#{beanCliente.personaNuevo.telefono}" size="25"
					maxlength="60" placeholder="Telefono"
					validatorMessage="Número Incorrecto">
					<p:keyFilter mask="num" />
					<f:validateRegex pattern="^([0-9]{10})" />
				</p:inputText>
				<h:outputText value="Direccion" />
				<p:inputText value="#{beanCliente.personaNuevo.direccion}" size="25"
					maxlength="60" placeholder="Direccion"></p:inputText>

				<p:commandButton value="Guardar" icon="pi pi-folder-open"
					update="@form,:lista2"
					actionListener="#{beanCliente.actionListenerInsertarCliente()}"></p:commandButton>
			</p:panelGrid>
		</h:form>
	</p:dialog>
</body>
</html>
