<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:ui="http://java.sun.com/jsf/facelets"
	xmlns:f="http://java.sun.com/jsf/core"
	xmlns:h="http://java.sun.com/jsf/html"
	xmlns:p="http://primefaces.org/ui">

<h:head>
	<title>Menu categoria-compras</title>
</h:head>
<body>

	<p:growl>
		<p:autoUpdate />
	</p:growl>
	<h:form>
		<p:menubar>
		<p:growl id="messages" showDetail="true" />
			<p:menuitem value="Regresar" icon="pi pi-home"
				action="/menu?faces-redirect=true" />
			<!-- <p:menuitem value="Empleados" icon="pi pi-users"
				action="#{beanSegUsuarios.actionMenuUsuarios()}" />
			<p:menuitem value="Módulos" icon="pi pi-slack"
				action="#{beanSegModulos.actionCargarMenuModulos()}" />
			<p:menuitem value="Asignaciones" icon="pi pi-list"
				action="#{beanSegAsignaciones.actionMenuAsignaciones()}" /> -->
			<p:menuitem value="Comprar" action="menu?faces-redirect=true"
				update="messages" ajax="false" icon="pi pi-shopping-cart" />
			<p:menuitem value="Producto" action="productos?faces-redirect=true"
				update="messages" icon="pi pi-desktop" />
			<p:menuitem value="Proveedores"
				action="proveedores?faces-redirect=true" update="messages"
				icon="pi pi-user" />
			<p:menuitem value="Categoría" action="categoria?faces-redirect=true"
				update="messages" icon="pi pi-th-large" />
			<p:menuitem value="Lista Compras" action="listaCompras?faces-redirect=true"
				update="messages" icon="pi pi-list" />
			
			<f:facet name="options">
				<p:menuButton value="#{beanSegLogin.loginDTO.correo}"
					icon="pi pi-user">
					<p:menuitem value="Perfil"></p:menuitem>
					<p:menuitem value="Cerrar sesión" icon="pi pi-sign-out"
						action="#{beanSegLogin.actionCerrarSesion()}"></p:menuitem>
				</p:menuButton>
			</f:facet>
		</p:menubar>
	</h:form>

	<div align="center" style="position: absolute">
		<h:form id="formCabecera" >
			<p:panel >
				<p:staticMessage severity="info" summary="MODULO COMPRAS"
					style="width: 100%;	" />
			</p:panel>

		</h:form>


		<h:form id="form_dlg_edicionCategoria">
			<!-- modal edicion de categoria -->
			<p:dialog header="Editar Proveedor" id="dlg2"
				widgetVar="dlgEditarProveedor" modal="true" showEffect="fade">
<!-- 				<p:panelGrid columns="2">
					<h:outputText value="ID categoria" />
					<h:outputText id="ciEdit" required="true"
						value="#{beanCompras.categoriaSeleccionado.idCategoria}" />
					<h:outputText value="Nombre" />
					<p:inputText required="true"
						value="#{beanCompras.categoriaSeleccionado.categoria}" />
					<h:outputText value="Categoria Principal" />
					<p:panel>
						<p:selectOneMenu id="option" 
							value="#{beanCompras.idCategoriaPrincipal}" title="Veamos">
							<p:ajax listener="#{beanCompras.actionBuscarCategorias()}"
								update="cat" />
							<f:selectItem itemLabel="Nuevo" itemValue="0" />
							<f:selectItems value="#{beanCompras.listaCategoriasB}" var="c"
								itemLabel="#{c.categoria}" itemValue="#{c.idCategoria}" />
							<f:facet name="footer">
								<p:divider styleClass="mt-0" />
								<h:outputText value="Categorías Principales"
									style="font-weight:bold;" />
							</f:facet>
						</p:selectOneMenu>
						<br></br>
						<small class="block"> "Nuevo" para categoria principal.</small>
					</p:panel>

					<h:outputText value="Categoria Secundarias" />
					<p:panel>
						<p:selectOneMenu id="cat"
							value="#{beanCompras.categoriaSeleccionado}">
							<f:selectItem itemLabel="Seleccione uno" itemValue="" />
							<f:selectItems
								value="#{beanCompras.listasSelectItemSubcategorias}" />
						</p:selectOneMenu>
						<br></br>
						<small class="block"> "*" para nueva subcategoria principal.</small>
					</p:panel>
				</p:panelGrid> -->
				<p:panelGrid columns="2" >


					<h:outputText value="ID Categoría" />
					<p:inputText value="#{beanCompras.categoriaSeleccionado.idCategoria}" disabled="true"/>
					<h:outputText value="Nombre Categoría" />
					<p:inputText required="true" value="#{beanCompras.categoriaSeleccionado.categoria}" />

					<h:outputText value="Categoria Principal" />
					<p:toggleSwitch value="#{beanCompras.esCategoriaPricipalEdicion}">
						<p:ajax listener="#{beanCompras.establecerDisplayListaEdicion()}" update="optionListaSecundarioEdicion" />
					</p:toggleSwitch>
					<h:outputText value="Categoria Secundaria" />
					<p:selectOneMenu id="optionListaSecundarioEdicion" width="100%" style="#{beanCompras.displayListaSubcategoriaEdicion}"
							value="#{beanCompras.idCategoriaPrincipalEdicion}" title="Veamos">
						
							<f:selectItem itemLabel="Nuevo" itemValue="0" />
							<f:selectItems value="#{beanCompras.listaSeparada}" var="c"
								itemLabel="#{c.idCategoria} #{c.categoria}" itemValue="#{c.idCategoria}" />
							
					</p:selectOneMenu>



				</p:panelGrid>
				
				
				
				<br />
				<p:commandButton value="Actualizar"
					actionListener="#{beanCompras.actualizarCategoria()}"
					styleClass="ui-button-raised " update="@form,:formPadre"
					icon="pi pi-list">
				</p:commandButton>


			</p:dialog>
		</h:form>

		<h:form id="form_dlg_ingresarCategoria">


			<!-- modal para la insercion de categorias -->
			<p:dialog header="Ingresar Categoria" id="dlgIngresarCategoria"
				widgetVar="dlgIngresarCategoria" modal="true" showEffect="fade"
				fitViewport="true">
<!-- 									<p:panel>
						<p:selectOneMenu id="option" width="100%"
							value="#{beanCompras.idCategoriaPrincipal}" title="Veamos">
							<p:ajax listener="#{beanCompras.actionBuscarCategorias()}"
								update="cat" />
							<f:selectItem itemLabel="Nuevo" itemValue="0" />
							<f:selectItems value="#{beanCompras.listaCategoriasB}" var="c"
								itemLabel="#{c.categoria}" itemValue="#{c.idCategoria}" />
							<f:facet name="footer">
								<p:divider styleClass="mt-0" />
								<h:outputText value="Categorías Principales"
									style="font-weight:bold;" />
							</f:facet>
						</p:selectOneMenu>
						<br></br>
						<small class="block"> "Nuevo" para categoria principal.</small>
					</p:panel>



					<h:outputText value="Categoria Secundarias" />

					<p:panel>
						<p:selectOneMenu id="cat"
							value="#{beanCompras.categoriaSeleccionado}">
							<f:selectItem itemLabel="Seleccione uno" itemValue="0" />
							<f:selectItems
								value="#{beanCompras.listasSelectItemSubcategorias}" var="s" itemValue="#{s.value}" itemLabel="#{s.value}" />
						</p:selectOneMenu>
						<br></br>
						<small class="block"> "*" para nueva subcategoria principal.</small>
					</p:panel> -->
				<p:panelGrid columns="2" >


					<h:outputText value="Nombre Categoría" />
					<p:inputText required="true" value="#{beanCompras.nombreCategoria}" />

					<h:outputText value="Categoria Principal" />
					<p:toggleSwitch value="#{beanCompras.esCategoriaPricipal}">
						<p:ajax listener="#{beanCompras.establecerDisplayLista()}" update="optionListaSecundario"/>
					</p:toggleSwitch>
					<h:outputText value="Categoria Secundaria" />
					<p:selectOneMenu id="optionListaSecundario" width="100%" style="#{beanCompras.displayListaSubcategoria}"
							value="#{beanCompras.idCategoriaPrincipal}" title="Veamos">
						
							<f:selectItem itemLabel="Nuevo" itemValue="0" />
							<f:selectItems value="#{beanCompras.listaSeparada}" var="c"
								itemLabel="#{c.idCategoria} #{c.categoria}" itemValue="#{c.idCategoria}" />
							
					</p:selectOneMenu>



				</p:panelGrid>
				<br />
				<p:commandButton value="Agregar"
					action="#{beanCompras.actionListenerAgregarCategoria()}"
					styleClass="ui-button-raised " update="@form,:formPadre"
					icon="pi pi-plus">
				</p:commandButton>


			</p:dialog>




		</h:form>

		<h:form id="formPadre">


			<p:panel footer="EasyTech 2022 - Todos los derechos reservados">


				<p:panelGrid columns="1">

					<p:commandButton value="Agregar Categoria"
						styleClass="ui-button-raised ui-button-secondary"
						icon="pi pi-list" onclick="PF('dlgIngresarCategoria').show();" 
						/>

				</p:panelGrid>

				<p:panelGrid columns="1">

					

					<p:fieldset legend="Categorías" style="margin-bottom:20px">


						<p:dataTable value="#{beanCompras.listCategoria}" var="c"
							showGridlines="true"
							currentPageReportTemplate="{startRecord}-{endRecord} of {totalRecords} records"
							paginatorTemplate="{CurrentPageReport} {FirstPageLink} {PreviousPageLink} {PageLinks} {NextPageLink} {LastPageLink} {RowsPerPageDropdown}"
							rows="5" paginator="true">


							<p:column headerText="ID">
								<h:outputText value="#{c.idCategoria}" />
							</p:column>

							<p:column headerText="Categoria">
								<h:outputText value="#{c.categoria}" />
							</p:column>

							<p:column headerText="Subcategoria">
								<h:outputText
									value="#{c.tblCategoria.idCategoria} - #{c.tblCategoria.categoria}" />
							</p:column>



							<p:column headerText="OPCIONES">
								<p:commandButton icon="pi pi-pencil" title="editar"
									update="@form,:form_dlg_edicionCategoria"
									oncomplete="PF('dlgEditarProveedor').show()"
									actionListener="#{beanCompras.actionListenerSeleccionarCategoria(c)}"
									style="margin-right:5%" />
								<p:commandButton icon="pi pi-trash" title="eliminar"
									styleClass="ui-button-raised ui-button-danger"
									actionListener="#{beanCompras.actionListenerEliminarCategoria(c.idCategoria)}"
									update="@form,:formPadre">


								</p:commandButton>



							</p:column>

						</p:dataTable>


					</p:fieldset>

				</p:panelGrid>

			</p:panel>

		</h:form>
	</div>


</body>
</html>
