<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:ui="http://java.sun.com/jsf/facelets"
	xmlns:f="http://java.sun.com/jsf/core"
	xmlns:h="http://java.sun.com/jsf/html"
	xmlns:p="http://primefaces.org/ui">

<h:head>
	<title>Menu Lista de compras</title>
</h:head>
<body>

	<p:growl>
		<p:autoUpdate />
	</p:growl>
	<h:form>



		<p:menubar>
		<p:growl id="messages" showDetail="true" />
			<p:menuitem value="Regresar" icon="pi pi-home"
				action="/menu?faces-redirect=true" />
			<!-- <p:menuitem value="Empleados" icon="pi pi-users"
				action="#{beanSegUsuarios.actionMenuUsuarios()}" />
			<p:menuitem value="Módulos" icon="pi pi-slack"
				action="#{beanSegModulos.actionCargarMenuModulos()}" />
			<p:menuitem value="Asignaciones" icon="pi pi-list"
				action="#{beanSegAsignaciones.actionMenuAsignaciones()}" /> -->
			<p:menuitem value="Comprar" action="menu?faces-redirect=true"
				update="messages" ajax="false" icon="pi pi-shopping-cart" />
			<p:menuitem value="Producto" action="productos?faces-redirect=true"
				update="messages" icon="pi pi-desktop" />
			<p:menuitem value="Proveedores"
				action="proveedores?faces-redirect=true" update="messages"
				icon="pi pi-user" />
			<p:menuitem value="Categoría" action="categoria?faces-redirect=true"
				update="messages" icon="pi pi-th-large" />
			<p:menuitem value="Lista Compras" action="listaCompras?faces-redirect=true"
				update="messages" icon="pi pi-list" />
			
			<f:facet name="options">
				<p:menuButton value="#{beanSegLogin.loginDTO.correo}"
					icon="pi pi-user">
					<p:menuitem value="Perfil"></p:menuitem>
					<p:menuitem value="Cerrar sesión" icon="pi pi-sign-out"
						action="#{beanSegLogin.actionCerrarSesion()}"></p:menuitem>
				</p:menuButton>
			</f:facet>
		</p:menubar>
	</h:form>

	<div align="center" style="position: absolute">
		<h:form id="formCabecera">
			<p:panel style="width:100%">
				<p:staticMessage severity="info" summary="MODULO COMPRAS"
					style="width: 100%" />
			</p:panel>

		</h:form>
		
		
		<h:form id="form_dlg_detalleCompra">	
			<!-- modal edicion de proveedores -->		
			<p:dialog header="Detalles de la Commpra" id="dlg2"
				widgetVar="dlgDetalleCompra" modal="true" showEffect="fade">
				
				<p:dataTable value="#{beanCompras.listaDetallesByIdCompra}" var="c"
							showGridlines="true"
							currentPageReportTemplate="{startRecord}-{endRecord} of {totalRecords} records"
							paginatorTemplate="{CurrentPageReport} {FirstPageLink} {PreviousPageLink} {PageLinks} {NextPageLink} {LastPageLink} {RowsPerPageDropdown}"
							rows="5" paginator="true">


							<p:column headerText="ID">
								<h:outputText value="#{c.idDetallesCompras}" />
							</p:column>

							<p:column headerText="PRODUCTO" filterBy="#{c.tblProducto.descripcion}" filterMatchMode="contains">
								<h:outputText value="#{c.tblProducto.idProducto} - #{c.tblProducto.descripcion}" />
							</p:column>

							<p:column headerText="ID COMPRA">
								<h:outputText value="#{c.tblCompra.idCompra}" />
							</p:column>

							<p:column headerText="COSTO">
								<h:outputText value="#{c.precioCosto}" />
							</p:column>

							<p:column headerText="CANTIDAD">
								<h:outputText value="#{c.cantidad}" />
							</p:column>
							<p:column headerText="SUBTOTAL">
								<h:outputText value="#{c.subtotal}" />
							</p:column>
							

						</p:dataTable>
				
				
				
			</p:dialog>	
		</h:form>
		
		

		<h:form id="formPadre">
			

			<p:panel footer="EasyTech 2022 - Todos los derechos reservados">


				<p:panelGrid columns="1">

					

					<p:fieldset legend="Lista de Compras" style="margin-bottom:20px">
					

						<p:dataTable value="#{beanCompras.listaCompras}" var="c"
							showGridlines="true"
							currentPageReportTemplate="{startRecord}-{endRecord} of {totalRecords} records"
							paginatorTemplate="{CurrentPageReport} {FirstPageLink} {PreviousPageLink} {PageLinks} {NextPageLink} {LastPageLink} {RowsPerPageDropdown}"
							rows="5" paginator="true">


							<p:column headerText="ID">
								<h:outputText value="#{c.idCompra}" />
							</p:column>

							<p:column headerText="PROVEEDOR CI/RUC" filterBy="#{c.tblProveedore.tblPersona.ciRuc}" filterMatchMode="contains">
								<h:outputText value="#{c.tblProveedore.tblPersona.ciRuc}" />
							</p:column>

							<p:column headerText="PROVEEDOR NOMBRES">
								<h:outputText value="#{c.tblProveedore.tblPersona.nombres} #{c.tblProveedore.tblPersona.apellidos}" />
							</p:column>

							<p:column headerText="FECHA">
								<h:outputText value="#{c.fecha}" />
							</p:column>

							<p:column headerText="IVA">
								<h:outputText value="#{c.iva}" />
							</p:column>
							<p:column headerText="SUBTOTAL">
								<h:outputText value="#{c.subtotal}" />
							</p:column>
							<p:column headerText="TOTAL">
								<h:outputText value="#{c.total}" />
							</p:column>

							<p:column headerText="OPCIONES" >
								<p:commandButton icon="pi pi-tag" title="Ver Detalles Compra" value="Ver Detalles"
									update="@form,:form_dlg_detalleCompra"
									oncomplete="PF('dlgDetalleCompra').show()"
									actionListener="#{beanCompras.findAllDetallesComprasByIdCompra(c)}"
									style="margin-right:5%" />
								<p:commandButton title="Vista Previa" styleClass="ui-button-secondary" 
								icon="pi pi-download" ajax="false"  
								action="#{beanCompras.actionReporteCompras(c)}" />
								



							</p:column>

						</p:dataTable>


					</p:fieldset>

				</p:panelGrid>

			</p:panel>

		</h:form>
	</div>

		
</body>
</html>
