<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:ui="http://java.sun.com/jsf/facelets"
	xmlns:f="http://java.sun.com/jsf/core"
	xmlns:h="http://java.sun.com/jsf/html"
	xmlns:p="http://primefaces.org/ui">

<h:head>
	<title>Menu Compras</title>
</h:head>
<body>

	<p:growl>
		<p:autoUpdate />
	</p:growl>
	
	<h:form>
		<p:menubar>
		<p:growl id="messages" showDetail="true" />
			<p:menuitem value="Regresar" icon="pi pi-home" style="font-weight:bold;"
				action="/menu?faces-redirect=true" />
			<!-- <p:menuitem value="Empleados" icon="pi pi-users"
				action="#{beanSegUsuarios.actionMenuUsuarios()}" />
			<p:menuitem value="Módulos" icon="pi pi-slack"
				action="#{beanSegModulos.actionCargarMenuModulos()}" />
			<p:menuitem value="Asignaciones" icon="pi pi-list"
				action="#{beanSegAsignaciones.actionMenuAsignaciones()}" /> -->
			<p:menuitem value="Comprar" action="menu?faces-redirect=true"
				update="messages" ajax="false" icon="pi pi-shopping-cart" />
			<p:menuitem value="Producto" action="productos?faces-redirect=true"
				update="messages" icon="pi pi-desktop" />
			<p:menuitem value="Proveedores"
				action="proveedores?faces-redirect=true" update="messages"
				icon="pi pi-user" />
			<p:menuitem value="Categoría" action="categoria?faces-redirect=true"
				update="messages" icon="pi pi-th-large" />
			<p:menuitem value="Lista Compras" action="listaCompras?faces-redirect=true"
				update="messages" icon="pi pi-list" />
			
			<f:facet name="options">
				<p:menuButton value="#{beanSegLogin.loginDTO.correo}"
					icon="pi pi-user">
					<p:menuitem value="Perfil"></p:menuitem>
					<p:menuitem value="Cerrar sesión" icon="pi pi-sign-out"
						action="#{beanSegLogin.actionCerrarSesion()}"></p:menuitem>
				</p:menuButton>
			</f:facet>
		</p:menubar>
	</h:form>
	<div align="center" style="position: absolute">
		<h:form id="formCabecera">
			<p:staticMessage severity="info" summary="MODULO COMPRAS"
				style="width: 100%; padding: 0px" />

		</h:form>

		<h:form id="form_dlg_ingresarProveedor">

			<!-- modal para la insercion de proveedores -->
			<p:dialog header="Ingresar Proveedor"
				widgetVar="dlgIngresarProveedor" modal="true" showEffect="fade"
				fitViewport="true">
				<p:panelGrid columns="2">
					<h:outputText value="Cedula/RUC" />
					<p:inputText required="true" value="#{beanCompras.cedula}" />
					<h:outputText value="Nombres" />
					<p:inputText required="true" value="#{beanCompras.nombres}" />
					<h:outputText value="Apellidos" />
					<p:inputText required="true" value="#{beanCompras.apellidos}" />
					<h:outputText value="Direccion" />
					<p:inputText required="true" value="#{beanCompras.direccion}" />
					<h:outputText value="Telefono" />
					<p:inputText required="true" value="#{beanCompras.telefono}" />
					<h:outputText value="Email" />
					<p:inputText required="true" value="#{beanCompras.email}" />
					<h:outputText value="Nombre empresa" />
					<p:inputText required="true" value="#{beanCompras.nombreComercial}"
						placeholder="Nombre comercial" />

				</p:panelGrid>
				<br />
				<p:commandButton value="Agregar"
					action="#{beanCompras.actionListenerAgregarProveedor()}"
					styleClass="ui-button-raised " update="@form,:formPadre,:formCabeceraCompra"
					icon="pi pi-user">
				</p:commandButton>

			</p:dialog>
		</h:form>
		
		<!-- modal para la edicion de un registro de detalles producto -->
		<h:form id="form_dlg_editarListaDetalle">
			<p:dialog header="Edicion de registro"
				widgetVar="dlgEditarRegistroDetalle" modal="true" showEffect="fade"
				fitViewport="true">
				<p:panelGrid columns="2">
					<h:outputText value="ID" />
					<h:outputText required="true" value="#{beanCompras.detalleCompraSeleccionado.idDetallesCompras}" />
					<h:outputText value="Descripcion" />
					<h:outputText required="true" value="#{beanCompras.detalleCompraSeleccionado.tblProducto.descripcion}" />
					<h:outputText value="Precio" />
					<p:spinner value="#{beanCompras.detalleCompraSeleccionado.precioCosto}" min="0">

					</p:spinner>
					<h:outputText value="Cantidad" />
					<p:spinner value="#{beanCompras.detalleCompraSeleccionado.cantidad}" min="0">
					</p:spinner>
				</p:panelGrid>
				<br />
				<p:commandButton value="Actualizar"
					action="#{beanCompras.actionListenerActualizarDetalleCompra()}"
					styleClass="ui-button-raised " update="@form,:formPadre"
					icon="pi pi-inbox">
				</p:commandButton>

			</p:dialog>
		</h:form>
		<!-- modal para la edicion de los porcentajes para el calculo de los precios-->
		<h:form id="form_dlg_editarPorcentajePrecios">
			<p:dialog header="Edicion de Porcentaje de precios"
				widgetVar="dlgEditarPorcentajePrecios" modal="true" showEffect="fade"
				fitViewport="true" closable="true">
				<p:panel>
				
				<p:panelGrid columns="4">
					<h:outputText value="Precio de compra ingresado" style="font-weight:bold;"/>
					<h:outputText value="#{beanCompras.precioProducto}" />
					<h:outputText value="" />
					<h:outputText value="Margen de ganancia" />
					
					<h:outputText id="porcentaje1" value="Precio 1 al #{beanCompras.porcentaje1} %" style="font-weight:bold;"/>
					<h:outputText id="precio1" value="#{beanCompras.precio1}" >
						<f:convertNumber pattern="#0.00" locale="pt_BR"/>
					</h:outputText>
					<p:inputNumber id="input1" value="#{beanCompras.porcentaje1}" symbol="%"
                                		symbolPosition="p" emptyValue="always"
                                		 decimalSeparator="." thousandSeparator="" onkeypress="if (event.keyCode == 13) {return false;}">
                    	<p:ajax event="keyup" listener="#{beanCompras.actionListenerCalcularPrecios}" update="precio1,porcentaje1,ganancia1"></p:ajax>
                    </p:inputNumber>
					<h:outputText id="ganancia1" value="#{beanCompras.ganancia1}" >
						<f:convertNumber pattern="#0.00" locale="pt_BR"/>
					</h:outputText>
					
					<h:outputText id="porcentaje2" value="Precio 2 al #{beanCompras.porcentaje3} %" style="font-weight:bold;"/>
					<h:outputText id="precio2" value="#{beanCompras.precio2}" >
						<f:convertNumber pattern="#0.00" locale="pt_BR"/>
					</h:outputText>
					<p:inputNumber id="input2" value="#{beanCompras.porcentaje2}" symbol="%"
                                		symbolPosition="p" emptyValue="always"
                                		 decimalSeparator="." thousandSeparator="" onkeypress="if (event.keyCode == 13) {return false;}">
                    	<p:ajax event="keyup" listener="#{beanCompras.actionListenerCalcularPrecios}" update="precio2,porcentaje2,ganancia2"></p:ajax>
                    </p:inputNumber>
					<h:outputText id="ganancia2" value="#{beanCompras.ganancia2}" >
						<f:convertNumber pattern="#0.00" locale="pt_BR"/>
					</h:outputText>
					
					<h:outputText id="porcentaje3" value="Precio 3 al #{beanCompras.porcentaje3} %" style="font-weight:bold;"/>
					<h:outputText id="precio3" value="#{beanCompras.precio3}" >
						<f:convertNumber pattern="#0.00" locale="pt_BR"/>
					</h:outputText>
					<p:inputNumber id="input3" value="#{beanCompras.porcentaje3}" symbol="%"
                                		symbolPosition="p" emptyValue="always"
                                		 decimalSeparator="." thousandSeparator="" onkeypress="if (event.keyCode == 13) {return false;}">
                    	<p:ajax event="keyup" listener="#{beanCompras.actionListenerCalcularPrecios}" update="precio3,porcentaje3,ganancia3"></p:ajax>
                    </p:inputNumber>
					<h:outputText id="ganancia3" value="#{beanCompras.ganancia3}" >
						<f:convertNumber pattern="#0.00" locale="pt_BR"/>
					</h:outputText>
				</p:panelGrid>
				
				
				</p:panel>
				<br />
				<p:commandButton value="Actualizar Precios"
					action="#{beanCompras.actionListenerActualizarDetalleCompra()}"
					styleClass="ui-button-raised " update="@form,:formPadre"
					icon="pi pi-inbox">
				</p:commandButton>

			</p:dialog>
		</h:form>
		
		<h:form id="formCabeceraCompra">
		
			<!-- seccion de cabecera de compra -->
			<p:panel style="width:100%" id="panelCabeceraCompra">
				<h:panelGrid columns="1">

					<p:panelGrid columns="8" id="detalleProveedorCabecera">
						<h:outputText value="Proveedor"  style="font-weight:bold;"/>
						<p:panel>
							<p:selectOneMenu id="advanced"
								value="#{beanCompras.idProveedorMostrar}"  filter="true"
								filterMatchMode="contains">
								<p:ajax
									listener="#{beanCompras.actionListenerMostrarDetallesProveedor()}"
									update="detalleProveedorCabecera" />
								<f:selectItem itemLabel="seleccionar proveedor" />
								<f:selectItems value="#{beanCompras.listProveedores}" var="p"
									itemLabel="#{p.tblPersona.ciRuc}" itemValue="#{p.idProveedor}" />
							</p:selectOneMenu>
							<br />
							<p:commandButton oncomplete="PF('dlgIngresarProveedor').show()" value="Nuevo Proveedor"
								icon="pi pi-plus-circle" style="margin-left:10px;" />
						</p:panel>

						<h:outputText value="Nombre proveedor:" style="font-weight:bold;" />
						<h:outputText
							value="#{beanCompras.proveedorMostrar.tblPersona.nombres} #{beanCompras.proveedorMostrar.tblPersona.apellidos}" />

						<h:outputText value="Nombre comercial: " style="font-weight:bold;" />
						<h:outputText
							value="#{beanCompras.proveedorMostrar.nombreComercial}" />

						<h:outputText value="CI/RUC: " style="font-weight:bold;" />
						<h:outputText
							value="#{beanCompras.proveedorMostrar.tblPersona.ciRuc}" />
					</p:panelGrid>

					<p:panelGrid columns="6" id="productoSeleccion">
						<h:outputText value="Producto"  style="font-weight:bold;"/>
						<p:panel>
							<p:selectOneMenu value="#{beanCompras.idProductoMostrar}"
								effect="fade" filter="true" filterMatchMode="contains">
								<p:ajax
									listener="#{beanCompras.actionListenerMostrarDetallesProducto()}"
									update="detalleProductoCabecera,productoSeleccion,form_dlg_editarPorcentajePrecios" />
								<f:selectItem itemLabel="seleccionar producto" />
								<f:selectItems value="#{beanCompras.listProducto}" var="p"
									itemLabel="#{p.idProducto} - #{p.descripcion}"
									itemValue="#{p.idProducto}" />
							</p:selectOneMenu>
							<br />
							<p:commandButton action="s" value="Nuevo Producto"
								icon="pi pi-plus-circle" />
						</p:panel>
						
						<h:outputText value="Precio" style="font-weight:bold;" />
						<p:spinner id="step" value="#{beanCompras.precioProducto}"
							stepFactor="0.1" min="1"
							onkeypress="#{beanCompras.actionListenerCalcularNuevoPrecio()}">
							<p:ajax update="productoSeleccion,form_dlg_editarPorcentajePrecios" />
						</p:spinner>

						<h:outputText value="% de Precios" style="font-weight:bold;" />
						<p:commandButton value="establecer % precios"
							oncomplete="PF('dlgEditarPorcentajePrecios').show()"
							styleClass="ui-button-raised " 
							icon="pi pi-percentage">
						</p:commandButton>

						<h:outputText value="Nuevo Precio" style="font-weight:bold;" />
						<h:outputText value="#{beanCompras.precioProducto}" >
							<f:convertNumber pattern="#0.00" locale="pt_BR"/>
						</h:outputText>
						<h:outputText value="Nuevo Precio 1:" style="font-weight:bold;" />
						<h:outputText value="#{beanCompras.listaNuevoPrecios.get(0)}" >
							<f:convertNumber pattern="#0.00" locale="pt_BR"/>
						</h:outputText>
						<h:outputText value="Nuevo Precio 2:" style="font-weight:bold;" />
						<h:outputText value="#{beanCompras.listaNuevoPrecios.get(1)}" >
							<f:convertNumber pattern="#0.00" locale="pt_BR"/>
						</h:outputText>
						<h:outputText value="Nuevo Precio 3" style="font-weight:bold;" />
						<h:outputText value="#{beanCompras.listaNuevoPrecios.get(2)}" >
							<f:convertNumber pattern="#0.00" locale="pt_BR"/>
						</h:outputText>
						<h:outputText value="Cantidad" style="font-weight:bold;"/>
						<p:spinner id="basic" value="#{beanCompras.cantidadProducto}"
							onchange="#{beanCompras.actionListenerCalcularVistaCantidad()}"
							min="0">
							<p:ajax update="productoSeleccion" />
						</p:spinner>
						<h:outputText value="Stock Actual:" style="font-weight:bold;" />
						<h:outputText value="#{beanCompras.productoMostrar.stock}" />
						<h:outputText value="Nuevo Stock:" style="font-weight:bold;"
							id="nuevoStock" />

						<h:outputText value="#{beanCompras.nuevoStock}" />


						



					</p:panelGrid>


					<p:panel header="PRODUCTO EN BODEGA ">
						<p:panelGrid id="detalleProductoCabecera" columns="6">
							<h:outputText value="ID producto:" style="font-weight:bold;" />
							<h:outputText value="#{beanCompras.productoMostrar.idProducto}" />

							<h:outputText value="Nombre categoria:" style="font-weight:bold;" />
							<h:outputText
								value="#{beanCompras.productoMostrar.tblCategoria.categoria}" />

							<h:outputText value="Descripción:" style="font-weight:bold;" />
							<h:outputText value="#{beanCompras.productoMostrar.descripcion}" />

							<h:outputText value="Stock Actual:" style="font-weight:bold;" />
							<h:outputText value="#{beanCompras.productoMostrar.stock}" />


							<h:outputText value="Precio de compra:" style="font-weight:bold;" />
							<h:outputText value="#{beanCompras.productoMostrar.precioCompra}" >
								<f:convertNumber pattern="#0.00" locale="pt_BR"/>
							</h:outputText>
							<h:outputText value="Precio 1:" style="font-weight:bold;" />
							<h:outputText value="#{beanCompras.productoMostrar.precioVenta1}" >
								<f:convertNumber pattern="#0.00" locale="pt_BR"/>
							</h:outputText>
							<h:outputText value="Precio 2:" style="font-weight:bold;" />
							<h:outputText value="#{beanCompras.productoMostrar.precioVenta2}" >
								<f:convertNumber pattern="#0.00" locale="pt_BR"/>
							</h:outputText>
							<h:outputText value="Precio 3:" style="font-weight:bold;" />
							<h:outputText value="#{beanCompras.productoMostrar.precioVenta3}" >
								<f:convertNumber pattern="#0.00" locale="pt_BR"/>
							</h:outputText>
							<h:outputText value="Imagen:" style="font-weight:bold;" />
							<h:outputText value="#{beanCompras.productoMostrar.imagen}" />

						</p:panelGrid>
					</p:panel>

				</h:panelGrid>
			</p:panel>


		</h:form>
		
		<h:form id="formPadre">
		
			<p:panel footer="EasyTech 2022 - Todos los derechos reservados">
				<p:panelGrid columns="1">
					<p:commandButton value="Agregar detalle"
						styleClass="ui-button-raised ui-button-secondary"
						icon="pi pi-arrow-circle-down"
						action="#{beanCompras.agregarListaDetalleProducto()}"
						update=":formPadre" />

				</p:panelGrid>

				<p:panelGrid columns="1">

					

					<p:fieldset legend="COMPRAR" style="margin-bottom:20px; ">

						<p:dataTable value="#{beanCompras.listaDetallesCompra}" var="p"
							size="small" showGridlines="true"
							currentPageReportTemplate="{startRecord}-{endRecord} of {totalRecords} records"
							paginatorTemplate="{CurrentPageReport} {FirstPageLink} {PreviousPageLink} {PageLinks} {NextPageLink} {LastPageLink} {RowsPerPageDropdown}"
							rows="5" paginator="true">

							<p:column headerText="ID">
								<h:outputText value="#{p.idDetallesCompras}" />
							</p:column>

							<p:column headerText="Descripcion">
								<h:outputText value="#{p.tblProducto.descripcion}" />
							</p:column>

							<p:column headerText="Precio">
								<h:outputText value="#{p.precioCosto}" />
							</p:column>

							<p:column headerText="Cantidad">
								<h:outputText value="#{p.cantidad}" />
							</p:column>

							<p:column headerText="Valor">
								<h:outputText value="#{p.subtotal}" />
							</p:column>

							<p:column headerText="OPCIONES" class="card">
								<p:commandButton icon="pi pi-pencil" title="editar"
									update="@form,form_dlg_editarListaDetalle"
									oncomplete="PF('dlgEditarRegistroDetalle').show()"
									actionListener="#{beanCompras.actionListenerSeleccionarDetalleCompra(p)}"
									style="margin:2%" />
								<p:commandButton icon="pi pi-trash" title="eliminar"
									styleClass="ui-button-raised ui-button-danger"
									actionListener="#{beanCompras.actionListenerEliminarDetalleListaTemporal(p)}"
									update="@form,:formPadre">

								</p:commandButton>
							</p:column>
						</p:dataTable>
						
						<p:toolbar>
							<p:toolbarGroup align="right">
								<p:panelGrid columns="2" layout="grid">
									<h:outputText value="Subtotal " style="font-weight:bold;" />
									<h:outputText value="#{beanCompras.subtotalListaDetalle}" >
										<f:convertNumber pattern="#0.00" locale="pt_BR"/>
									</h:outputText>
									<h:outputText value="IVA 12%" style="font-weight:bold;" />
									<h:outputText value="#{beanCompras.ivaListaDetalle}" >
										<f:convertNumber pattern="#0.00" locale="pt_BR"/>
									</h:outputText>
									<h:outputText value="Total" style="font-weight:bold;" />
									<h:outputText value="#{beanCompras.totalListaDetalle}" >
										<f:convertNumber pattern="#0.00" locale="pt_BR"/>
									</h:outputText>
								</p:panelGrid>
							</p:toolbarGroup>

						</p:toolbar>

						<p:toolbar>
							<p:toolbarGroup align="right">
								<p:commandButton value="Guardar Compra"
									styleClass="ui-button-raised ui-button-secondary"
									icon="pi pi-save"
									action="#{beanCompras.actionListenerGuardarCompra()}"
									update="@form,:formPadre"/>
									
									 
							</p:toolbarGroup>
						</p:toolbar>
					</p:fieldset>
				</p:panelGrid>

			</p:panel>

		</h:form>
	</div>


</body>
</html>
