<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:ui="http://java.sun.com/jsf/facelets"
	xmlns:f="http://java.sun.com/jsf/core"
	xmlns:h="http://java.sun.com/jsf/html"
	xmlns:p="http://primefaces.org/ui">

<h:head>
	<title>Menu proveedores-compras</title>
</h:head>
<body>

	<p:growl>
		<p:autoUpdate />
	</p:growl>
	<h:form>



		<p:menubar>
		<p:growl id="messages" showDetail="true" />
			<p:menuitem value="Regresar" icon="pi pi-home"
				action="/menu?faces-redirect=true" />
			<!-- <p:menuitem value="Empleados" icon="pi pi-users"
				action="#{beanSegUsuarios.actionMenuUsuarios()}" />
			<p:menuitem value="Módulos" icon="pi pi-slack"
				action="#{beanSegModulos.actionCargarMenuModulos()}" />
			<p:menuitem value="Asignaciones" icon="pi pi-list"
				action="#{beanSegAsignaciones.actionMenuAsignaciones()}" /> -->
			<p:menuitem value="Comprar" action="menu?faces-redirect=true"
				update="messages" ajax="false" icon="pi pi-shopping-cart" />
			<p:menuitem value="Producto" action="productos?faces-redirect=true"
				update="messages" icon="pi pi-desktop" />
			<p:menuitem value="Proveedores"
				action="proveedores?faces-redirect=true" update="messages"
				icon="pi pi-user" />
			<p:menuitem value="Categoría" action="categoria?faces-redirect=true"
				update="messages" icon="pi pi-th-large" />
			<p:menuitem value="Lista Compras" action="listaCompras?faces-redirect=true"
				update="messages" icon="pi pi-list" />
			
			<f:facet name="options">
				<p:menuButton value="#{beanSegLogin.loginDTO.correo}"
					icon="pi pi-user">
					<p:menuitem value="Perfil"></p:menuitem>
					<p:menuitem value="Cerrar sesión" icon="pi pi-sign-out"
						action="#{beanSegLogin.actionCerrarSesion()}"></p:menuitem>
				</p:menuButton>
			</f:facet>
		</p:menubar>
	</h:form>

	<div align="center" style="position: absolute">
		<h:form id="formCabecera">
			<p:panel style="width:100%">
				<p:staticMessage severity="info" summary="MODULO COMPRAS"
					style="width: 100%" />
			</p:panel>

		</h:form>
		
		
		<h:form id="form_dlg_edicionProveedor">	
			<!-- modal edicion de proveedores -->		
			<p:dialog header="Editar Proveedor" id="dlg2"
				widgetVar="dlgEditarProveedor" modal="true" showEffect="fade">
				
				
				
				<p:panelGrid columns="2">
					<h:outputText value="Cedula/RUC" />
					<p:inputText id="ciEdit" required="true" value="#{beanCompras.proveedorSeleccionado.tblPersona.ciRuc}" />
					<h:outputText value="Nombres" />
					<p:inputText required="true" value="#{beanCompras.proveedorSeleccionado.tblPersona.nombres}" />
					<h:outputText value="Apellidos" />
					<p:inputText required="true" value="#{beanCompras.proveedorSeleccionado.tblPersona.apellidos}" />
					<h:outputText value="Direccion" />
					<p:inputText required="true" value="#{beanCompras.proveedorSeleccionado.tblPersona.direccion}" />
					<h:outputText value="Telefono" />
					<p:inputText required="true" value="#{beanCompras.proveedorSeleccionado.tblPersona.telefono}" />
					<h:outputText value="Email" />
					<p:inputText required="true" value="#{beanCompras.proveedorSeleccionado.tblPersona.email}" />
					<h:outputText value="Nombre empresa" />
					<p:inputText required="true" value="#{beanCompras.proveedorSeleccionado.nombreComercial}"
						placeholder="Nombre comercial" />
					
					
					

				</p:panelGrid>
				<br />
				<p:commandButton value="Actualizar"
					actionListener="#{beanCompras.actualizarProveedor()}"
					styleClass="ui-button-raised " update="@form,:formPadre"
					icon="pi pi-user">
				</p:commandButton>

				
			</p:dialog>	
		</h:form>
		
		<h:form id="form_dlg_ingresarProveedor">
			
		
		<!-- modal para la insercion de proveedores -->
			<p:dialog header="Ingresar Proveedor" widgetVar="dlgIngresarProveedor" modal="true"  showEffect="fade" fitViewport="true">
				<p:panelGrid columns="2" >
					<h:outputText value="Cedula/RUC" />
					<p:inputText required="true" value="#{beanCompras.cedula}"/>
					<h:outputText value="Nombres" />
					<p:inputText required="true" value="#{beanCompras.nombres}"/>
					<h:outputText value="Apellidos" />
					<p:inputText required="true" value="#{beanCompras.apellidos}"/>
					<h:outputText value="Direccion" />
					<p:inputText required="true" value="#{beanCompras.direccion}"/>
					<h:outputText value="Telefono" />
					<p:inputText required="true" value="#{beanCompras.telefono}"/>
					<h:outputText value="Email" />
					<p:inputText required="true" value="#{beanCompras.email}" />
					<h:outputText value="Nombre empresa" />
					<p:inputText required="true" value="#{beanCompras.nombreComercial}"
								placeholder="Nombre comercial" />




				</p:panelGrid>
				<br />
					<p:commandButton value="Agregar" action="#{beanCompras.actionListenerAgregarProveedor()}"
							styleClass="ui-button-raised " update="@form,:formPadre"
							icon="pi pi-user" >
						</p:commandButton>
				
				
			</p:dialog>
			

			
		
		</h:form>

		<h:form id="formPadre">
			

			<p:panel footer="EasyTech 2022 - Todos los derechos reservados">

				<p:panelGrid columns="1">

					<p:commandButton value="Agregar Proveedor"
						styleClass="ui-button-raised ui-button-secondary"
						icon="pi pi-plus" onclick="PF('dlgIngresarProveedor').show();" />

				</p:panelGrid>

				<p:panelGrid columns="1">

					

					<p:fieldset legend="Proveedores" style="margin-bottom:20px">
					

						<p:dataTable value="#{beanCompras.listProveedores}" var="p"
							showGridlines="true"
							currentPageReportTemplate="{startRecord}-{endRecord} of {totalRecords} records"
							paginatorTemplate="{CurrentPageReport} {FirstPageLink} {PreviousPageLink} {PageLinks} {NextPageLink} {LastPageLink} {RowsPerPageDropdown}"
							rows="5" paginator="true">


							<p:column headerText="ID">
								<h:outputText value="#{p.idProveedor}" />
							</p:column>

							<p:column headerText="CI/RUC" filterBy="#{p.tblPersona.ciRuc}" filterMatchMode="contains">
								<h:outputText value="#{p.tblPersona.ciRuc}" />
							</p:column>

							<p:column headerText="APELLIDOS">
								<h:outputText value="#{p.tblPersona.apellidos}" />
							</p:column>

							<p:column headerText="NOMBRE EMPRESA">
								<h:outputText value="#{p.nombreComercial}" />
							</p:column>

							<p:column headerText="ESTADO">
								<h:outputText value="#{p.estado}" />
							</p:column>

							<p:column headerText="OPCIONES" >
								<p:commandButton icon="pi pi-pencil" title="editar"
									update="@form,:form_dlg_edicionProveedor"
									oncomplete="PF('dlgEditarProveedor').show()"
									actionListener="#{beanCompras.actionListenerSeleccionarProveedor(p)}"
									style="margin-right:5%" />
								<p:commandButton icon="pi pi-trash" title="eliminar"
									styleClass="ui-button-raised ui-button-danger"
									actionListener="#{beanCompras.actionListenerEliminarProveedor(p.idProveedor)}"
									update="@form,:formPadre">
  
									
								</p:commandButton>



							</p:column>

						</p:dataTable>


					</p:fieldset>

				</p:panelGrid>

			</p:panel>

		</h:form>
	</div>

		
</body>
</html>
