<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:ui="http://java.sun.com/jsf/facelets"
	xmlns:f="http://java.sun.com/jsf/core"
	xmlns:h="http://java.sun.com/jsf/html"
	xmlns:p="http://primefaces.org/ui">

<h:head>
	<title>Menu principal</title>
</h:head>
<body>
	<p:growl>
		<p:autoUpdate />
	</p:growl>

	<h:form>
		<p:menubar>
			<f:facet name="options">
				<p:menuButton value="#{beanSegLogin.loginDTO.correo}"
					icon="pi pi-user">
					<p:menuitem value="Perfil"></p:menuitem>
					<p:menuitem value="Cerrar sesión" icon="pi pi-sign-out"
						action="#{beanSegLogin.actionCerrarSesion()}"></p:menuitem>
				</p:menuButton>
			</f:facet>
		</p:menubar>
	</h:form>


	<div align="center">
		<h:form>
		</h:form>

	</div>


	<div class="ui-g-12 ui-md-2">
		<h:form>
			<div class="card">
				<p:menu toggleable="true">
				</p:menu>
			</div>

			<br></br>

		</h:form>
	</div>

	<div class="ui-g-12 ui-md-10 ui-g-nopad">
		<div class="ui-g-12">
			<div align="center">
				<h:form>

					<p:breadCrumb>
						<p:menuitem value="Categories" url="#" />
						<p:menuitem value="Regresar" action="/menu?faces-redirect=true" />
						<p:menuitem value="Factura" action="menu?faces-redirect=true" />
					</p:breadCrumb>


				</h:form>

			</div>
		</div>

		<h:form id="lista1">
			<p:fieldset legend="CREAR CUOTAS">

				<div>
					<h:panelGrid columns="2">



						<p:outputLabel value="TASA NOMINAL" />
						<p:panelGrid columns="2">
							<p:selectOneMenu id="MenuTasa"
								value="#{beanVentas.porcentajeSeleccionado}">
								<f:selectItem itemLabel="Seleccione..." itemValue="" />
								<f:selectItems value="#{beanVentas.listaTasaNominal}" var="p"
									itemLabel="#{p.porcentaje} - #{p.tasaNominal}"
									 itemValue="#{p.porcentaje}"></f:selectItems>
							</p:selectOneMenu>
							<p:commandButton icon="pi pi-plus-circle"
								onclick="PF('dlg2').show();" update="@form"></p:commandButton>
						</p:panelGrid>

						<p:outputLabel value="MONTO TOTAL" />
						<p:inputText id="MenuMonto"
							value="#{beanVentas.totalListaDetalle}" disabled="true"></p:inputText>

						<p:outputLabel value="PERIODOS" />
						<p:inputText id="MenuPeridos" placeholder="Ingrese meses"
							value="#{beanVentas.tiempoMeses}">
							<p:keyFilter mask="num" />
							</p:inputText>

						<p:commandButton value="Generar Cuotas " icon="pi pi-folder-open"
							actionListener="#{beanVentas.actionListenerGenerarPagos()}"
							action="menuFactura?faces-redirect=true">
						</p:commandButton>

					</h:panelGrid>
				</div>
			</p:fieldset>

		</h:form>

		<div class="ui-g-12">
			<p:dialog header="Nueva Tasa Nominal" widgetVar="dlg2" modal="true"
				style="width:250px">
				<h:form id="formNuevaTasa">
					<p:panelGrid columns="2">
						<h:outputText value="Tasa Nominal" />
						<p:inputText value="#{beanVentas.nuevaTasa.tasaNominal}" size="25"
							maxlength="60" placeholder="Descripción" validatorMessage="Descripción Incorrecta">
							<f:validateRegex pattern="^([A-Z]{1}[a-zñáéíóú]+[\s]*)+$"
								message="Your new custom message here" />
						</p:inputText>
						<h:outputText value="Porcentaje: " />
						<p:spinner value="#{beanVentas.nuevaTasa.porcentaje}" stepFactor="0.1" size="25" maxlength="60"/>
						<p:commandButton value="Guardar Tasa" icon="pi pi-folder-open"
							update="@form,:lista1"
							actionListener="#{beanVentas.actionListenerInsertarTasa()}"></p:commandButton>
					</p:panelGrid>
				</h:form>
			</p:dialog>

		</div>




	</div>











</body>
</html>
