<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:ui="http://java.sun.com/jsf/facelets"
	xmlns:f="http://java.sun.com/jsf/core"
	xmlns:h="http://java.sun.com/jsf/html"
	xmlns:p="http://primefaces.org/ui">

<h:head>
	<title>Menu principal</title>
</h:head>
<body>
	<p:growl>
		<p:autoUpdate />
	</p:growl>

	<h:form>
		<p:menubar>
			<p:menuitem value="Regresar" icon="pi pi-home"
				action="/menu?faces-redirect=true" />
			<p:menuitem value="Detalle Facturas" icon="pi pi-file-o"
				action="menuFactura?faces-redirect=true" />
			<p:menuitem value="Detalle Proformas" icon="pi pi-file-o"
				action="menuProforma?faces-redirect=true" />
			<f:facet name="options">
				<p:menuButton value="#{beanSegLogin.loginDTO.correo}"
					icon="pi pi-user">
					<p:menuitem value="Perfil"></p:menuitem>
					<p:menuitem value="Cerrar sesión" icon="pi pi-sign-out"
						action="#{beanSegLogin.actionCerrarSesion()}"></p:menuitem>
				</p:menuButton>
			</f:facet>
		</p:menubar>
	</h:form>


	<div align="center">
		<h:form>

			<p:staticMessage severity="info" summary="MÓDULO DE VENTA"
				style="width: 50%" />
		</h:form>

	</div>

	<div class="ui-g">
		<div class="ui-g-12 ui-md-2">
			<h:form>
				<div class="card">
					<p:menu toggleable="true">
					</p:menu>
				</div>

				<br></br>

			</h:form>
		</div>


		<div class="ui-g-12 ui-md-10 ui-g-nopad">

			<div class="ui-g-12">
				<div align="center">
					<h:form>

						<p:breadCrumb>
							<p:menuitem value="Categories" url="#" />
							<p:menuitem value="Regresar" action="/menu?faces-redirect=true" />
							<p:menuitem value="Clientes"
								action="/cliente/menu?faces-redirect=true" />

						</p:breadCrumb>


					</h:form>

				</div>
			</div>

			<h:form id="lista1">
				<p:fieldset legend="CREAR FACTURA" style="width:100%">

					<div>
						<h:panelGrid columns="6" cellpadding="10">

							<div class="ui-fluid formgrid grid">
								<div class="field col">
									<p:outputLabel for="firstname2" value="NUM. FACTURA" />
									<p:inputText id="firstname2" disabled="true"
										value="#{beanVentas.numFactPro}" />
								</div>
								<div class="field col">
									<p:outputLabel for="lastname2" value="FECHA " />
									<p:inputText id="lastname2" value="#{beanVentas.fechaActual}"
										disabled="true">
										<f:convertDateTime pattern="MMMM d, yyyy" />
									</p:inputText>
								</div>
								<div class="field col">
									<p:outputLabel value="TIPO DE PAGO" />
									<p:selectOneMenu id="MenuPago" value="#{beanVentas.idTipopago}">
										<f:selectItem itemLabel="Seleccione..." itemValue="" />
										<p:ajax update=":lista2"
											listener="#{beanVentas.actionEjecutarTipoPago()}"></p:ajax>

										<f:selectItems value="#{beanVentas.listapagos}" var="p"
											itemLabel="#{p.descripcion}" itemValue="#{p.idTPago}"></f:selectItems>
									</p:selectOneMenu>

								</div>
								<div class="field col">
									<p:outputLabel value="TIPO DE DOCUMENTO" />
									<p:selectOneMenu id="MenuDocumento"
										value="#{beanVentas.idTipodoc}">
										<p:ajax update=":lista1"
											listener="#{beanVentas.actionnumFactura()}"></p:ajax>
										<f:selectItem itemLabel="Seleccione..." itemValue="" />
										<f:selectItems value="#{beanVentas.listaDocumentos}" var="d"
											itemLabel="#{d.descripcion}"
											itemValue="#{d.idTipoDocumentos}"></f:selectItems>
									</p:selectOneMenu>
								</div>
								<div class="field col">
									<p:outputLabel value="CÉDULA" />
									<p:panelGrid columns="2">
										<p:selectOneMenu id="MenuCliente" filter="true"
											filterMatchMode="contains" value="#{beanVentas.cedula}">
											<f:selectItem itemLabel="Seleccione..." itemValue="" />
											<p:ajax update=":lista1"
												listener="#{beanVentas.actionObtenerDatosCliente()}"></p:ajax>
											<f:selectItems value="#{beanVentas.listaClientes}" var="u"
												itemLabel="#{u.tblPersona.ciRuc}"
												itemValue="#{u.tblPersona.ciRuc}">
											</f:selectItems>
										</p:selectOneMenu>
										<p:commandButton icon="pi pi-user-plus"
											onclick="PF('dlg2').show();" update="@form" />
									</p:panelGrid>
								</div>
								<div class="field col" >
									<p:outputLabel value="NOMBRE" style="#{beanVentas.modBotonInf}" />
									<p:inputText value="#{beanVentas.dtoPersonas.nombres}" style="#{beanVentas.modBotonInf}"
										disabled="true" />
								</div>
								<div class="field col" >
									<p:outputLabel value="APELLIDO " style="#{beanVentas.modBotonInf}"/>
									<p:inputText value="#{beanVentas.dtoPersonas.apellidos}" style="#{beanVentas.modBotonInf}"
										disabled="true" />
								</div>
								<div class="field col" >
									<p:outputLabel value="TELÉFONO" style="#{beanVentas.modBotonInf}"/>
									<p:inputText value="#{beanVentas.dtoPersonas.telefono}" style="#{beanVentas.modBotonInf}"
										disabled="true" />
								</div>
								<div class="field col" >
									<p:outputLabel value="CORREO" style="#{beanVentas.modBotonInf}" />
									<p:inputText value="#{beanVentas.dtoPersonas.email}" style="#{beanVentas.modBotonInf}"
										disabled="true" />
								</div>
								<div class="field col" >
									<p:outputLabel value="DIRECCIÓN" style="#{beanVentas.modBotonInf}" />
									<p:inputText value="#{beanVentas.dtoPersonas.direccion}" style="#{beanVentas.modBotonInf}"
										disabled="true" />
								</div>
								

							</div>




						</h:panelGrid>
					</div>
				</p:fieldset>
				<p:fieldset legend="DETALLE FACTURA">

					<h:panelGrid columns="3">
						<h:panelGrid columns="1">

							<p:selectOneRadio id="idCategoriaPrincipal"
								value="#{beanVentas.idCategoriaPrincipal}" layout="responsive"
								columns="1">
								<p:ajax update=":lista1"
									listener="#{beanVentas.actionEjecutarCategorias()}"></p:ajax>
								<f:selectItems value="#{beanVentas.listaCategorias}" var="c"
									itemLabel="#{c.categoria}" itemValue="#{c.idCategoria}" />
							</p:selectOneRadio>

						</h:panelGrid>

						<h:panelGrid columns="1">
							<h:outputText style=" font-weight: bold;" value="Categorias:" />
							<p:selectOneMenu id="MenuCategorias"
								value="#{beanVentas.nombreCategoria}">
								<f:selectItem itemLabel="Seleccione uno" itemValue="" />
								<p:ajax update=":lista1"
									listener="#{beanVentas.actionEjecutarProductos()}"></p:ajax>
								<f:selectItems
									value="#{beanVentas.listasSelectItemSubcategorias}" />
							</p:selectOneMenu>

							<h:outputText style=" font-weight: bold;" value="Productos:" />
							<p:selectOneMenu id="MenuProductos"
								value="#{beanVentas.idProducto}">
								<f:selectItem itemLabel="Seleccione uno" itemValue="" />
								<p:ajax update=":lista1"
									listener="#{beanVentas.actionMostrarInformacionProductos()}"></p:ajax>
								<f:selectItems value="#{beanVentas.listaProductos}" var="p"
									itemLabel="#{p.descripcion}" itemValue="#{p.idProducto}" />
							</p:selectOneMenu>



						</h:panelGrid>

						<h:panelGrid columns="1">
							<h:outputText style=" font-weight: bold;"
								value="#{beanVentas.dtoProducto.nombre}" />
							<h:panelGrid columns="3">
								<h:panelGrid columns="2">
									<h:outputText style=" font-weight: bold;" value="Marca: " />
									<h:outputText value="#{beanVentas.dtoProducto.marca}" />
								</h:panelGrid>
								<h:panelGrid columns="2">
									<h:outputText style=" font-weight: bold;" value="Modelo: " />
									<h:outputText value="#{beanVentas.dtoProducto.modelo}" />
								</h:panelGrid>
								<h:panelGrid columns="2">
									<h:outputText style=" font-weight: bold;" value="Serie: " />
									<h:outputText value="#{beanVentas.dtoProducto.serie}" />
								</h:panelGrid>
							</h:panelGrid>
							<h:panelGrid columns="2">
								<h:outputText value="PRECIOS" style=" font-weight: bold;" />
								<p:selectOneMenu id="MenuPrecios"
									value="#{beanVentas.precioseleccionado}">
									<f:selectItem itemLabel="Seleccione uno" itemValue="" />
									<f:selectItems value="#{beanVentas.listaprecios}" var="pre"
										itemLabel="#{pre}" itemValue="#{pre}" />
								</p:selectOneMenu>
								<h:outputText value="CANTIDAD" style=" font-weight: bold;" />
								<p:spinner value="#{beanVentas.cantidadseleccionada}" min="1"
									max="100" style="width:80px" />
								<p:commandButton title="Carrito" icon="pi pi-shopping-cart"
									actionListener="#{beanVentas.actionListenerAdicionarProducto()}"
									update="@form,:lista2" />
							</h:panelGrid>
						</h:panelGrid>
					</h:panelGrid>
				</p:fieldset>

			</h:form>

		</div>
		<div>
			<h:form id="lista2">
				<p:dataTable value="#{beanVentas.listaDetalleFactura}" var="d"
					size="small" showGridlines="true"
					currentPageReportTemplate="{startRecord}-{endRecord} of {totalRecords} records"
					paginatorTemplate="{CurrentPageReport} {FirstPageLink} {PreviousPageLink} {PageLinks} {NextPageLink} {LastPageLink} {RowsPerPageDropdown}"
					rows="5" paginator="true">
					<p:column headerText="ID PRODUCTO"
						style="width:30px; font-size:20px; text-align: center">
						<h:outputText value="#{d.idDetalleFactura}" />
					</p:column>
					<p:column headerText="NOMBRE PRODUCTO"
						style="width:30px; font-size:20px; text-align: center">
						<h:outputText value="#{d.tblProducto.descripcion}" />
					</p:column>
					<p:column headerText="CANTIDAD"
						style="width:30px; font-size:20px; text-align: center">
						<h:outputText value="#{d.cantidad}" />
					</p:column>
					<p:column headerText="PRECIO"
						style="width:30px; font-size:20px; text-align: center">
						<h:outputText value="#{d.precioselect}" />
					</p:column>
					<p:column headerText="Total"
						style="width:30px; font-size:20px; text-align: center">
						<h:outputText value="#{d.precioTotal}">
							<f:convertNumber pattern="#0.00" locale="pt_BR" />
						</h:outputText>
					</p:column>
					<p:column headerText="OPCIONES"
						style="width:30px; font-size:20px; text-align: center">
						<p:commandButton icon="pi pi-trash" title="eliminar"
							styleClass="ui-button-raised ui-button-danger"
							actionListener="#{beanVentas.actionListenerEliminarDetalleListaTemporal(d)}"
							update="@form,:lista1"></p:commandButton>

					</p:column>
				</p:dataTable>
				<p:toolbar id="detalle">
					<p:toolbarGroup align="right">
						<p:panelGrid columns="2" layout="grid">
							<h:outputText value="Subtotal" style="font-weight:bold;" />
							<h:outputText value="#{beanVentas.subtotalListaDetalle}">
								<f:convertNumber pattern="#0.00" locale="pt_BR" />
							</h:outputText>
							<h:outputText value="IVA 12%" style="font-weight:bold;" />
							<h:outputText value="#{beanVentas.ivaListaDetalle}">
								<f:convertNumber pattern="#0.00" locale="pt_BR" />
							</h:outputText>
							<h:outputText value="Total" style="font-weight:bold;" />
							<h:outputText value="#{beanVentas.totalListaDetalle}">
								<f:convertNumber pattern="#0.00" locale="pt_BR" />
							</h:outputText>
						</p:panelGrid>
					</p:toolbarGroup>

				</p:toolbar>

				<p:toolbar>


					<p:toolbarGroup align="right">
						<p:panelGrid columns="2">

							<p:commandButton value="Generar Factura"
								style="#{beanVentas.modBotonGuardarVenta}" icon="pi pi-save"
								action="#{beanVentas.actionListenerGuardarVenta()}"
								update="@form,:lista2" />

							<p:commandButton value="Generar Cuotas"
								style="#{beanVentas.modBotonCuotas}" icon="pi pi-save"
								action="cuotas?faces-redirect=true" />

						</p:panelGrid>
					</p:toolbarGroup>

				</p:toolbar>

			</h:form>
		</div>
		<div class="ui-g-12">
			<p:dialog header="CLIENTES" widgetVar="dlg2" modal="true"
				style="width:250px">
				<h:form id="formNuevoCliente">
					<p:panelGrid columns="2">
						<h:outputText value="Cédula" />
						<p:inputText value="#{beanCliente.personaNuevo.ciRuc}" size="25"
							maxlength="60" placeholder="Cédula"
							validatorMessage="Cédula Incorrecta">
							<p:keyFilter mask="num" />
							<f:validateRegex
								pattern="^(([0][1-9])|([1][0-9])|([2][0-4]))([0-9]{8})" />
						</p:inputText>
						<h:outputText value="Nombres: " />
						<p:inputText value="#{beanCliente.personaNuevo.nombres}"
							placeholder="Nombres" size="25" maxlength="60"
							validatorMessage="Nombres Incorrectos">
							<f:validateRegex
								pattern="^(([A-Z]|[Á-Ú])([a-z]|[á-ú])+)\s(([A-Z]|[Á-Ú])([a-z]|[á-ú])+)"
								message="Your new custom message here" />
						</p:inputText>
						<h:outputText value="Apellidos: " />
						<p:inputText value="#{beanCliente.personaNuevo.apellidos}"
							placeholder="Apellidos" size="25" maxlength="60"
							validatorMessage="Apellidos Incorrectos">
							<f:validateRegex
								pattern="^(([A-Z]|[Á-Ú])([a-z]|[á-ú])+)\s(([A-Z]|[Á-Ú])([a-z]|[á-ú])+)"
								message="Your new custom message here" />
						</p:inputText>
						<h:outputText value="Correo: " />
						<p:inputText value="#{beanCliente.personaNuevo.email}" size="25"
							maxlength="60" placeholder="Correo"
							validatorMessage="Correo Incorrecto">
							<f:validateRegex
								pattern="([^.@]+)(\.[^.@]+)*@([^.@]+\.)+([^.@]+)" />
						</p:inputText>
						<h:outputText value="Telefono" />
						<p:inputText value="#{beanCliente.personaNuevo.telefono}"
							size="25" maxlength="60" placeholder="Telefono"
							validatorMessage="Telefono Incorrecto">
							<p:keyFilter mask="num" />
							<f:validateRegex pattern="^([0-9]{10})" />
						</p:inputText>
						<h:outputText value="Direccion" />
						<p:inputText value="#{beanCliente.personaNuevo.direccion}"
							size="25" maxlength="60" placeholder="Direccion"></p:inputText>

						<p:commandButton value="Guardar" icon="pi pi-folder-open"
							update="@form,:lista2"
							actionListener="#{beanCliente.actionListenerInsertarCliente()}"></p:commandButton>
					</p:panelGrid>
				</h:form>
			</p:dialog>

		</div>
	</div>











</body>
</html>
