<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:ui="http://java.sun.com/jsf/facelets"
	xmlns:f="http://java.sun.com/jsf/core"
	xmlns:h="http://java.sun.com/jsf/html"
	xmlns:p="http://primefaces.org/ui">

<h:head>
	<title>Menu principal</title>
</h:head>
<body>
	<h:form>
		<p:menubar>
			<p:menuitem value="Regresar" icon="pi pi-home"
				action="menu?faces-redirect=true" />
			<f:facet name="options">
				<p:menuButton value="#{beanSegLogin.loginDTO.correo}"
					icon="pi pi-user">
					<p:menuitem value="Perfil" icon="pi pi-cog"></p:menuitem>
					<p:menuitem value="Cerrar sesión" icon="pi pi-sign-out"
						action="#{beanSegLogin.actionCerrarSesion()}"></p:menuitem>
				</p:menuButton>
			</f:facet>
		</p:menubar>
	</h:form>
	<h:form id="lista1">
		<p:fieldset legend="Lista de Proformas ">
			<p:dataTable value="#{beanVentas.listaProformas}" var="d" lazy="true">
				<p:column headerText="N° PROFORMA" style="width:30px; font-size:20px; text-align: center" >
					<h:outputText value="#{d.numFaPro}" />
				</p:column>
				<p:column headerText="CÉDULA CLIENTE" style="width:30px; font-size:20px; text-align: center" >
					<h:outputText value="#{d.tblCliente.tblPersona.ciRuc}" />
				</p:column>
				<p:column headerText="TIPO DE PAGO" style="width:30px; font-size:20px; text-align: center" >
					<h:outputText value="#{d.tblTipoPago.descripcion}" />					
				</p:column>
				<p:column headerText="FECHA" style="width:30px; font-size:20px; text-align: center" >
					<h:outputText value="#{d.fecha}" />					
				</p:column>
				<p:column headerText="SUBTOTAL" style="width:30px; font-size:20px; text-align: center" >
					<h:outputText value="#{d.subtotal}" >
					 <f:convertNumber pattern="#0.00" locale="pt_BR"/>
					</h:outputText>
				</p:column>
				<p:column headerText="IVA" style="width:30px; font-size:20px; text-align: center" >
					<h:outputText value="#{d.iva}" >
					 <f:convertNumber pattern="#0.00" locale="pt_BR"/></h:outputText>
				</p:column>
				<p:column headerText="TOTAL" style="width:30px; font-size:20px; text-align: center" >
					<h:outputText value="#{d.total}" >
					 <f:convertNumber pattern="#0.00" locale="pt_BR"/>
					</h:outputText>
				</p:column>
				<p:column headerText="ESTADO" style="width:30px; font-size:20px; text-align: center" >
					<h:outputText value="#{d.estado}" />
				</p:column>
				<p:column headerText="OPCIONES" style="width:30px; font-size:20px; text-align: center" >
					<p:commandButton title="Aprobar Proforma" styleClass="rounded-button ui-button-warning" icon="pi pi-reply" ajax="false" action="#{beanVentas.redirigirProforma(d)}" />
					<p:commandButton title="Vista Previa" styleClass="rounded-button"  icon="pi pi-eye" ajax="false"  action="#{beanVentas.actionReporteProforma(d)}"  />
				</p:column>
			</p:dataTable> 

		</p:fieldset>


	</h:form>
	<p:dialog header="CLIENTES" widgetVar="dlg2" modal="true"
		style="width:250px">
		<h:form id="formNuevoCliente">
			<p:panelGrid columns="2">
				<h:outputText value="Cédula" />
				  <p:inputText  value="#{beanCliente.personaNuevo.ciRuc}" size="25" maxlength="60" placeholder="Cédula"></p:inputText>
				<h:outputText value="Nombres: " />
				<p:inputText  value="#{beanCliente.personaNuevo.nombres}"  placeholder="Nombres" size="25" maxlength="60"></p:inputText>
				<h:outputText value="Apellidos: " />
				<p:inputText   value="#{beanCliente.personaNuevo.apellidos}"  placeholder="Apellidos" size="25" maxlength="60"></p:inputText>
				<h:outputText value="Correo: " />
				<p:inputText   value="#{beanCliente.personaNuevo.email}"  size="25" maxlength="60" placeholder="Correo"></p:inputText>
				<h:outputText value="Telefono" />
				<p:inputText  value="#{beanCliente.personaNuevo.telefono}" size="25" maxlength="60" placeholder="Telefono"></p:inputText>
				<h:outputText value="Direccion" />
				<p:inputText  value="#{beanCliente.personaNuevo.direccion}" size="25" maxlength="60" placeholder="Direccion"></p:inputText>

				<p:commandButton value="Guardar" icon="pi pi-folder-open"
				update="@form"
       actionListener="#{beanCliente.actionListenerInsertarCliente()}"></p:commandButton>
			</p:panelGrid>
		</h:form>
	</p:dialog>
</body>
</html>
